.aboutusheader{
	background-image: url(contactusbg.jpg);
	background-size: cover;
	background-color: #619ff8;
	background-position: center;
}
.contactusfont{
	font-size: 60px;
	color: white;
	text-align: center;
	padding-top: 174px;
	padding-bottom: 48px;
}
.startButtonCon{
	text-align: center;
	color: #a2bffb;
	font-size: 30px;
	width: 240px;
	height: 43px;
	border: 1px solid white;
	margin: 0 auto;
	background-color: white
}
.companyAddress{
	text-align: center;
	font-size: 36px;
	margin-bottom: 60px;
	margin-top: 110px;
}
.mapimg{
	text-align: center;
}
.picmap{
	width: 73%
}
.mapfont{
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #227af7;
	color: white;
	width: 73%;
	margin: 0 auto;
}
.mapfontinfo{
	font-size: 20px;
	padding-left: 15px;
	line-height: 32px
}
.adrressinfoWrap{
	width: 90%;
	margin: 0 auto
}
.chinainfo{
 	height: 300px;
 	padding-left: 10%;
	float: left;
	width: 25%;
	border-right: 1px solid #bfbfbf
}
.englandinfo{
	height: 300px;
	float: left;
	width: 25%;
	padding-left: 3%;
	border-right: 1px solid #bfbfbf;
}
.northAmericainfo{
	float: left;
	padding-left: 3%;
	margin-bottom: 120px;
	
}
.titlename{
	font-size: 24px;
	margin-bottom: 5px
}
.continfo{
	font-size: 16px;
	line-height: 25px
}


.webNav  a {
	color:white;
 	text-decoration:none;
 	font-size: 20px
}

.webNav a:hover {
display:block; 
color:#FFFFFF; 
//background:#227af7;
}

.tialButton{
	text-align: center;
	text-decoration:none;
	color: #a2bffb;
	font-size: 28px;
	width: 240px;
	height: 43px;
	border: 1px solid white;
	margin: 0 auto;
	background-color: white

}