*{margin:0;padding:0};
img{border:none}
nav .nav {
	margin: :0;padding:0;
}
.part3 {
		background-image: url(coretechbg.jpg);
  background-size: cover;
	background-color: #004dc6;
  background-position: center;
	height: 1070px;90vh
  width: 100%;
}
.fontcolor {
	color: white
}
.fontcolorbg {
	background-color: #fff
}
li {
 list-style:none;
 padding:0;
 margin:0;
}
.margintop {
	margin-top:6em;
}
.footermargintop {
	margin-top: 3em;
}
.marginbottom {
	margin-bottom: 6em
}
.titlemarginbottom {
	margin-bottom: 2em
}
.trybtn {
	text-decoration: none;
  text-align: center;
  background-color: rgba(0,0,0,0);
  color: white;
  width: 240px;
  height: 47px;
  border: 1px solid white;
  margin: 0 auto;

}
.h3marin {
	margin-top: 11px
}
.coretech_caijiwrap {
	position: relative;
}
.beianborder {
	border-top: 1px solid rgba(255,255,255,0.4);
}


@media screen and (min-width:1920px) {
	.coretech_sectionone {
		background-image: url(coretechbanner1920.jpg);
	  background-size: cover;
		background-color: #004dc6;
	  background-position: center;
		height: 1080px;
	  width: 100%;
	}
	.coretechmargin {
		margin-top: 380px
	}
	.coretech_sectionthree {
		background-image: url(coretechmodele3bg1920.jpg);
	  background-size: cover;
		background-color: #004dc6;
	  background-position: center;
		height: 868px;
	  width: 100%;
	}
	.try {
		height: 640px
	}
	.coretech_dataimg {
		width: 724px;
		margin: 0 auto;
		height: 583px;
		background-image: url(qiangdadeshuju1920.png);
	  background-size: cover;
	  background-position: center;
	}
	.coretech_zengqiangimg {
		position: relative;
		width: 448px;
		margin: 0 auto;
		height: 431px;
		background-image: url(rengongzhineng1920.png);
	  background-size: cover;
	  background-position: center;
	}
	.rengongfont {
		text-decoration: none;
    color: #01296d;
	}
	#coretech_partonefontwrap4dtrg {
		position: absolute;
    width: 142px;
    height: 142px;
    border-radius: 71px;
    top: 153px;
    left: 153px;
    background-color: white;
	}
	#core_caijifontrg {
		position: absolute;
		top:188px;
		left: 130px;
		z-index: 1000;
		text-decoration: none;
		color: black;
		width: 184px
	}
	.rengongfont:hover{
		text-decoration: none;
    color: #01296d;
	}
	#core_caijifontrg:hover + #coretech_partonefontwrap4dtrg{
		position: absolute;
    width: 142px;
    height: 142px;
    border-radius: 71px;
    top: 153px;
    left: 153px;
    background-color: #d3d3d3;
	}
	#coretech_partonefontwrap4dtkeshihua {
		position: absolute;
    width: 180px;
    height: 180px;
    border-radius: 90px;
		top:173px;
		left: 479px;
		background-color: #227af7;
	}
	#core_caijifontke {
			z-index: 1000;
	    position: absolute;
	    top: 234px;
	    left: 508px;
	    text-align: center;
	}
	.core_caijifontdatakeshihua {
		text-decoration: none;
		color: white;
		font-size: 28px
	}
	#core_caijifontke:hover + #coretech_partonefontwrap4dtkeshihua{
		position: absolute;
		width: 180px;
    height: 180px;
    border-radius: 90px;
		top:173px;
		left: 479px;
		background-color: #1a60c3;
	}
	.coretech_zhinengimg {
		position: relative;
		width: 1137px;
		margin: 0 auto;
		height: 578px;
		background-image: url(zhineng1920.png);
	  background-size: cover;
	  background-position: center;
	}
	.zhiguanjiemianwrap {
		position: absolute;
		top:52px;
		left:100px;
		letter-spacing: 5px
	}
	.lingguobianjiewrap {
		position: absolute;
		bottom:110px;
		letter-spacing: 5px;
		left: 30px
	}
	.quanfangmianwrap {
		position: absolute;
		bottom: 310px;
		letter-spacing: 5px;
		right: 4px
	}
	.shujucaijiwrap {
		position: absolute;
		top:70px;
		left:186px;
	}
	.shangyejiazhiwrap {
		position: absolute;
		top:250px;
		left: -20px
	}
	.zhinengyinqinwrap {
		position: absolute;
		top:250px;
		right: -20px
	}
	.ziranyuyanwrap {
		position: absolute;
		bottom: -40px;
		left: 170px
	}
	.neiwangwrap {
		position: absolute;
		width: 208px;
		top:208px;
	}
	.waiwangwrap {
		position: absolute;
		width: 208px;
		top:146px;
		right: 0
	}
	.disanfangwrap {
		position: absolute;
		width: 208px;
		right: 90px;
		bottom: 20px
	}
	.footerfont {
		text-align: left;
	}
	.shujujierubuttonwrap {
	  position: absolute;
    width: 220px;
    height: 220px;
    border-radius: 110px;
    top: 186px;
    left: 461px;
    background-color: #227af7;
  }
  .core_caijifont {
  	z-index: 1000;
    position: absolute;
    top: 76px;
    left: 33px;
    text-align: center;
    letter-spacing: 2px;
    //width: 138px;
  }
	.img1 { 
		height:32px;
		margin-top: 2px
	}
  .img2,.img3,.img4{ 
  	display:none; 
  }
  .img5 {
  	height: 94px
  }
  .img6,.img7,.img8 {
  	display: none;
  }
  .guanyuwrap {
  	padding-left: 37px
  }
  .logoimg1 {
  	height: 35px
  }
  .logoimg2,.logoimg4,.logoimg3 {
  	display: none;
  }

}
@media screen and (min-width: 1366px) and (max-width: 1919px) {
	.coretech_sectionone {
		background-image: url(coretechbanner1366.jpg);
	  background-size: cover;
		background-color: #004dc6;
	  background-position: center;
		height: 768px;
	  width: 100%;
	}
	.coretechmargin {
		margin-top: 270px
	}
	.coretech_sectionthree {
		background-image: url(coretechmodele3bg1366.jpg);
	  background-size: cover;
		background-color: #004dc6;
	  background-position: center;
		height: 676px;
	  width: 100%;
	}
	.coretech_dataimg {
		width: 565px;
		margin: 0 auto;
		height: 475px;
		background-image: url(qiangdadeshuju1366.png);
	  background-size: cover;
	  background-position: center;
	}
	.coretech_zengqiangimg {
		position: relative;
		width: 448px;
		margin: 0 auto;
		height: 431px;
		background-image: url(rengongzhineng1366.png);
	  background-size: cover;
	  background-position: center;
	}
	.coretech_zhinengimg {
		position: relative;
		width: 1137px;
		margin: 0 auto;
		height: 578px;
		background-image: url(zhineng1920.png);
	  background-size: cover;
	  background-position: center;
	}
	#coretech_partonefontwrap4dtrg {
		position: absolute;
    width: 142px;
    height: 142px;
    border-radius: 71px;
    top: 159px;
    left: 153px;
    background-color: white;
	}
	#core_caijifontrg {
		position: absolute;
		top:195px;
		left: 130px;
		z-index: 1000;
		text-decoration: none;
		color: black;
		width: 184px
	}
	.rengongfont:hover{
		text-decoration: none;
    color: #01296d;
	}
	#core_caijifontrg:hover + #coretech_partonefontwrap4dtrg{
		position: absolute;
    width: 142px;
    height: 142px;
    border-radius: 71px;
    top: 159px;
    left: 153px;
    background-color: #d3d3d3;
	}
	#coretech_partonefontwrap4dtkeshihua {
		position: absolute;
    width: 180px;
    height: 180px;
    border-radius: 90px;
		top:173px;
		left: 479px;
		background-color: #227af7;
	}
	#core_caijifontke {
			z-index: 1000;
	    position: absolute;
	    top: 234px;
	    left: 508px;
	    text-align: center;
	}
	.core_caijifontdatakeshihua {
		text-decoration: none;
		color: white;
		font-size: 28px
	}
	#core_caijifontke:hover + #coretech_partonefontwrap4dtkeshihua{
		position: absolute;
		width: 180px;
    height: 180px;
    border-radius: 90px;
		top:173px;
		left: 479px;
		background-color: #1a60c3;
	}
	.zhiguanjiemianwrap {
		position: absolute;
		top:52px;
		left:100px;
		letter-spacing: 5px
	}
	.lingguobianjiewrap {
		position: absolute;
		bottom:110px;
		letter-spacing: 5px;
		left: 30px
	}
	.quanfangmianwrap {
		position: absolute;
		bottom: 310px;
		letter-spacing: 5px;
		right: 4px
	}
	.shujucaijiwrap {
		position: absolute;
		top:70px;
		left:186px;
	}
	.shangyejiazhiwrap {
		position: absolute;
		top:250px;
		left: -20px
	}
	.zhinengyinqinwrap {
		position: absolute;
		top:250px;
		right: -20px
	}
	.ziranyuyanwrap {
		position: absolute;
		bottom: -40px;
		left: 170px
	}
	.neiwangwrap {
		position: absolute;
		width: 25%;
		top:176px;
	}
	.waiwangwrap {
		position: absolute;
		width: 25%;
		top:122px;
		right: 0
	}
	.disanfangwrap {
		position: absolute;
		width: 25%;
		right: 50px;
		bottom: 20px
	}
	.footerfont {
		text-align: left;
	}
	.img1{ 
		height:32px;
		margin-top: 2px
	}
  .img2,.img3,.img4 { 
  	display:none; 
  }
  .img5 {
  	height: 94px
  }
  .img6,.img7,.img8 {
  	display: none;
  }
  .guanyuwrap {
  	padding-left: 40px
  }
  .shujujierubuttonwrap {
	  position: absolute;
    width: 190px;
    height: 190px;
    border-radius: 95px;
    top: 142px;
    left: 478px;
    background-color: #227af7;
  }
  .core_caijifont {
  	z-index: 1000;
    position: absolute;
    top: 62px;
    left: 21px;
    text-align: center;
    letter-spacing: 2px;
    //width: 138px;
  }
  .logoimg1 {
  	height: 35px
  }
  .logoimg2,.logoimg4,.logoimg3 {
  	display: none;
  }
 

}
@media screen and (min-width: 1200px) and (max-width: 1365px) {
	.coretech_sectionone {
		background-image: url(coretechbanner1366.jpg);
		background-size: cover;
		background-color: #004dc6;
		background-position: center;
		height: 768px;
		width: 100%;
	}
	.coretechmargin {
		margin-top: 270px
	}
	.coretech_sectionthree {
		background-image: url(coretechmodele3bg1366.jpg);
	  background-size: cover;
		background-color: #004dc6;
	  background-position: center;
		height: 676px;
	  width: 100%;
	}
	.coretech_dataimg {
		width: 565px;
		margin: 0 auto;
		height: 475px;
		background-image: url(qiangdadeshuju1366.png);
	  background-size: cover;
	  background-position: center;
	}
	.shujujierubuttonwrap {
	  position: absolute;
    width: 220px;
    height: 220px;
    border-radius: 110px;
    top: 125px;
    left: 461px;
    background-color: #227af7;
  }
  .core_caijifont {
  	z-index: 1000;
    position: absolute;
    top: 76px;
    left: 33px;
    text-align: center;
    letter-spacing: 2px;
    //width: 138px;
  }
	.coretech_zengqiangimg {
		position: relative;
		width: 448px;
		margin: 0 auto;
		height: 431px;
		background-image: url(rengongzhineng1366.png);
	  background-size: cover;
	  background-position: center;
	}
	.coretech_zhinengimg {
		position: relative;
		width: 1137px;
		margin: 0 auto;
		height: 578px;
		background-image: url(zhineng1920.png);
	  background-size: cover;
	  background-position: center;
	}
	#coretech_partonefontwrap4dtrg {
		position: absolute;
    width: 142px;
    height: 142px;
    border-radius: 71px;
    top: 164px;
    left: 153px;
    background-color: white;
	}
	#core_caijifontrg {
		position: absolute;
		top:200px;
		left: 130px;
		z-index: 1000;
		text-decoration: none;
		color: black;
		width: 184px
	}
	.rengongfont:hover{
		text-decoration: none;
    color: #01296d;
	}
	#core_caijifontrg:hover + #coretech_partonefontwrap4dtrg{
		position: absolute;
    width: 142px;
    height: 142px;
    border-radius: 71px;
    top: 153px;
    left: 153px;
    background-color: #d3d3d3;
	}
	#coretech_partonefontwrap4dtkeshihua {
		position: absolute;
    width: 180px;
    height: 180px;
    border-radius: 90px;
		top:173px;
		left: 479px;
		background-color: #227af7;
	}
	#core_caijifontke {
			z-index: 1000;
	    position: absolute;
	    top: 234px;
	    left: 508px;
	    text-align: center;
	}
	.core_caijifontdatakeshihua {
		text-decoration: none;
		color: white;
		font-size: 28px
	}
	#core_caijifontke:hover + #coretech_partonefontwrap4dtkeshihua{
		position: absolute;
		width: 180px;
    height: 180px;
    border-radius: 90px;
		top:173px;
		left: 479px;
		background-color: #1a60c3;
	}
	.zhiguanjiemianwrap {
		position: absolute;
		top:52px;
		left:100px;
		letter-spacing: 5px
	}
	.lingguobianjiewrap {
		position: absolute;
		bottom:110px;
		letter-spacing: 5px;
		left: 30px
	}
	.quanfangmianwrap {
		position: absolute;
		bottom: 310px;
		letter-spacing: 5px;
		right: 4px
	}
	.shujucaijiwrap {
		position: absolute;
		top:70px;
		left:186px;
	}
	.shangyejiazhiwrap {
		position: absolute;
		top:250px;
		left: -20px
	}
	.zhinengyinqinwrap {
		position: absolute;
		top:250px;
		right: -20px
	}
	.ziranyuyanwrap {
		position: absolute;
		bottom: -40px;
		left: 170px
	}
	.neiwangwrap {
		position: absolute;
		width: 25%;
		top:176px;
	}
	.waiwangwrap {
		position: absolute;
		width: 25%;
		top:122px;
		right: 0
	}
	.disanfangwrap {
		position: absolute;
		width: 25%;
		right: 50px;
		bottom: 20px
	}
	.footerfont {
		text-align: left;
	}
	.img1 { 
		height:32px;
		margin-top: 2px
	}
  .img2,.img3,.img4 { 
  	display:none; 
  }
  .img5 {
  	height: 94px
  }
  .img6,.img7,.img8 {
  	display: none;
  }
  .guanyuwrap {
  	padding-left: 45px
  }
  .logoimg1 {
  	height: 35px
  }
  .logoimg2,.logoimg4,.logoimg3 {
  	display: none;
  }

}
@media screen and (min-width: 992px) and (max-width: 1199px) {
	.coretech_sectionone {
		background-image: url(coretechbanner1366.jpg);
		  background-size: cover;
			background-color: #004dc6;
		  background-position: center;
			height: 768px;
		  width: 100%;
	}
	.coretechmargin {
		margin-top: 270px
	}
	.coretech_sectionthree {
		background-image: url(coretechmodele3bg1366.jpg);
	  background-size: cover;
		background-color: #004dc6;
	  background-position: center;
		height: 676px;
	  width: 100%;
	}
	.coretech_dataimg {
		width: 535px;
		margin: 0 auto;
		height: 450px;
		background-image: url(qiangdadeshuju940.png);
	  background-size: cover;
	  background-position: center;
	}
	.shujujierubuttonwrap {
	  position: absolute;
    width: 172px;
    height: 172px;
    border-radius: 86px;
    top: 141px;
    left: 384px;
    background-color: #227af7;
  }
  .core_caijifont {
  	z-index: 1000;
    position: absolute;
    top: 57px;
    left: 10px;
    text-align: center;
    letter-spacing: 2px;
    //width: 138px;
  }
	.coretech_zengqiangimg {
		position: relative;
		width: 343px;
		margin: 0 auto;
		height: 324px;
		background-image: url(rengongzhineng940.png);
	  background-size: cover;
	  background-position: center;
	}
	.coretech_zhinengimg {
		position: relative;
		width: 939px;
		margin: 0 auto;
		height: 415px;
		background-image: url(zhineng940.png);
	  background-size: cover;
	  background-position: center;
	}
	#coretech_partonefontwrap4dtrg {
		position: absolute;
    width: 118px;
    height: 118px;
    border-radius: 59px;
    top: 116px;
    left: 114px;
    background-color: white;
	}
	#core_caijifontrg {
		position: absolute;
		top:146px;
		left: 82px;
		z-index: 1000;
		text-decoration: none;
		color: black;
		width: 184px
	}
	.rengongfont:hover{
		text-decoration: none;
    color: #01296d;
	}
	#core_caijifontrg:hover + #coretech_partonefontwrap4dtrg{
		position: absolute;
    width: 118px;
    height: 118px;
    border-radius: 59px;
    top: 116px;
    left: 114px;
    background-color: #d3d3d3;
	}
	#coretech_partonefontwrap4dtkeshihua {
		position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 75px;
		top:109px;
		left: 395px;
		background-color: #227af7;
	}
	#core_caijifontke {
		z-index: 1000;
	  position: absolute;
	  top: 153px;
	  left: 408px;
	  text-align: center;
	}
	.core_caijifontdatakeshihua {
		text-decoration: none;
		color: white;
		font-size: 28px
	}
	#core_caijifontke:hover + #coretech_partonefontwrap4dtkeshihua{
		position: absolute;
		width: 150px;
    height: 150px;
    border-radius: 75px;
		top:109px;
		left: 395px;
		background-color: #1a60c3;
	}
	.zhiguanjiemianwrap {
		position: absolute;
		top:32px;
		left:74px;
		letter-spacing: 5px
	}
	.lingguobianjiewrap {
		position: absolute;
		bottom:95px;
		letter-spacing: 5px;
		left: 24px
	}
	.quanfangmianwrap {
		position: absolute;
		bottom: 247px;
		letter-spacing: 5px;
		right: 4px
	}
	.shujucaijiwrap {
		position: absolute;
		top:54px;
		left:134px;
	}
	.shangyejiazhiwrap {
		position: absolute;
		top:189px;
		left: -32px
	}
	.zhinengyinqinwrap {
		position: absolute;
		top:189px;
		right: -32px
	}
	.ziranyuyanwrap {
		position: absolute;
		bottom: -40px;
		left: 117px
	}

	.neiwangwrap {
		position: absolute;
		width: 202px;
		top:176px;
	}
	.waiwangwrap {
		position: absolute;
		width: 202px;
		top:122px;
		right: 0
	}
	.disanfangwrap {
		position: absolute;
		width: 202px;
		right: 50px;
		bottom: 20px
	}
	.footerfont {
		text-align: left;
	}
	.img4{ 
		height: 25px; 
		margin-top: 8px
	}
  .img1,.img2,.img3 { 
  	display:none; 
  }
  .img6 {
  	height: 78px;
  	margin-left: -15px !important;
  }
  .img5,.img7,.img8 {
  	display: none;
  }
  .guanyuwrap {
  	padding-left: 25px
  }

  .logoimg2 {
  	height: 29px
  }
  .logoimg1,.logoimg3,.logoimg4{
  	display: none;
  }

}
@media screen and (min-width: 768px) and (max-width: 991px) {
	.coretech_sectionone {
		background-image: url(coretechbanner768.jpg);
	  background-size: cover;
		background-color: #004dc6;
	  background-position: center;
		height: 1080px;
	  width: 100%;
	}
	.coretechmargin {
		margin-top: 380px
	}
	.coretech_sectionthree {
		background-image: url(coretechmodele3bg768.jpg);
	  background-size: cover;
		background-color: #004dc6;
	  background-position: center;
		height: 676px;
	  width: 100%;
	}
	.coretech_dataimg {
		width: 333px;
		margin: 0 auto;
		height: 275px;
		background-image: url(qiangdadeshuju768.png);
	  background-size: cover;
	  background-position: center;
	}
	.shujujierubuttonwrap {
	  position: absolute;
    width: 130px;
    height: 130px;
    border-radius: 65px;
    top: 67px;
    left: 300px;
    background-color: #227af7;
  }
  .core_caijifont {
  	z-index: 1000;
    position: absolute;
    top: 29px;
    left: 10px;
    text-align: center;
    letter-spacing: 2px;
    //width: 138px;
  }
	.coretech_zengqiangimg {
		position: relative;
		width: 258px;
		margin: 0 auto;
		height: 245px;
		background-image: url(rengongzhineng768.png);
	  background-size: cover;
	  background-position: center;
	}
	.coretech_zhinengimg {
		position: relative;
		width: 718px;
		margin: 0 auto;
		height: 364px;
		background-image: url(zhineng768.png);
	  background-size: cover;
	  background-position: center;
	}
	#coretech_partonefontwrap4dtrg {
		position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 45px;
    top: 93px;
    left: 83px;
    background-color: white;
	}
	#core_caijifontrg {
		position: absolute;
		top:108px;
		left:37px;
		z-index: 1000;
		text-decoration: none;
		color: black;
		width: 184px
	}
	.padfont {
		font-size: 20px
	}
	.rengongfont:hover{
		text-decoration: none;
    color: #01296d;
	}
	#core_caijifontrg:hover + #coretech_partonefontwrap4dtrg{
		position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 45px;
    top: 93px;
    left: 83px;
    background-color: #d3d3d3;
	}
	#coretech_partonefontwrap4dtkeshihua {
		position: absolute;
    width: 114px;
    height: 114px;
    border-radius: 57px;
		top:109px;
		left: 300px;
		background-color: #227af7;
	}
	#core_caijifontke {
		z-index: 1000;
	  position: absolute;
	  top: 136px;
	  left: 306px;
	  text-align: center;
	}
	.core_caijifontdatakeshihua {
		text-decoration: none;
		color: white;
		font-size: 28px
	}
	#core_caijifontke:hover + #coretech_partonefontwrap4dtkeshihua{
		position: absolute;
		width: 114px;
    height: 114px;
    border-radius: 57px;
		top:109px;
		left: 300px;
		background-color: #1a60c3;
	}
	.zhiguanjiemianwrap {
		position: absolute;
		top:32px;
		left:64px;
		letter-spacing: 2px
	}
	.lingguobianjiewrap {
		position: absolute;
		bottom:70px;
		letter-spacing: 2px;
		left: 1px
	}
	.quanfangmianwrap {
		position: absolute;
		bottom: 197px;
		letter-spacing: 2px;
		right: 4px;
		width: 120px
	}

	.shujucaijiwrap {
		position: absolute;
		top:39px;
		left:86px;
	}
	.shangyejiazhiwrap {
		position: absolute;
		top:144px;
		left: -43px
	}
	.zhinengyinqinwrap {
		position: absolute;
		top:144px;
		right: -43px
	}
	.ziranyuyanwrap {
		position: absolute;
		bottom: -40px;
		left: 75px
	}
	.neiwangwrap {
		position: absolute;
		width: 193px;
		top: 93px;
	}
	.waiwangwrap {
		position: absolute;
		width: 193px;
		top: 44px;
		right: 0
	}
	.disanfangwrap {
		position: absolute;
		width: 193px;
		right: 25px;
		bottom: 0
	}
	.footerfont {
		text-align: left;
	}
	.img2{ 
		height: 17px;
		margin-top:10px;
	}
  .img1,.img3,.img4{ 
  	display:none; 
  }
  .img7 {
  	height: 88px;
  }
  .img5,.img6,.img8 {
  	display: none;
  }
  .logoimg3 {
  	height: 22px
  }
  .logoimg1,.logoimg2, .logoimg4{
  	display: none
  }
  .padlogomarigin {
  	margin-top: 6px
  }

}
@media screen and (min-width: 320px) and (max-width: 767px) {
	.coretech_sectionone {
		background-image: url(coretechbanner320.jpg);
	  background-size: cover;
		background-color: #004dc6;
	  background-position: center;
		height: 480px;
	  width: 100%;
	}
	.coretechmargin {
		margin-top: 168px
	}
	.coretech_sectionthree {
		background-image: url(coretechmodele3bg320.jpg);
	  background-size: cover;
		background-color: #004dc6;
	  background-position: center;
		height: 430px;
	  width: 100%;
	}
	.coretech_dataimg {
		width: 190px;
		margin: 0 auto;
		height: 201px;
		background-image: url(qiangdadeshuju320.png);
	  background-size: cover;
	  background-position: center;
	}
	.shujujierubuttonwrap {
	  position: absolute;
    width: 68px;
    height: 68px;
    border-radius: 34px;
    top: 58px;
    left: 42.7%;
    background-color: #227af7;
  }
  .core_caijifont {
  	z-index: 1000;
    position: absolute;
    top: 2px;
    left: 3px;
    text-align: center;
    letter-spacing: 2px;
    //width: 138px;
  }
	.coretech_zengqiangimg {
		position: relative;
		width: 192px;
		margin: 0 auto;
		height: 191px;
		background-image: url(rengongzhineng320.png);
	  background-size: cover;
	  background-position: center;
	}
	.coretech_zhinengimg {
		position: relative;
		width: 279px;
		margin: 0 auto;
		height: 162px;
		background-image: url(zhineng320.png);
	  background-size: cover;
	  background-position: center;
	}
	#coretech_partonefontwrap4dtrg {
		position: absolute;
    width: 66px;
    height: 66px;
    border-radius: 33px;
    top: 69px;
    left: 61px;
    background-color: white;
	}
	#core_caijifontrg {
		position: absolute;
		top:76px;
		left:2px;
		z-index: 1000;
		text-decoration: none;
		color: black;
		width: 184px
	}
	.padfont {
		font-size: 20px
	}
	.rengongfont:hover{
		text-decoration: none;
    color: #01296d;
	}
	#core_caijifontrg:hover + #coretech_partonefontwrap4dtrg{
		position: absolute;
    width: 66px;
    height: 66px;
    border-radius: 33px;
    top: 69px;
    left: 61px;
    background-color: #d3d3d3;
	}

	#coretech_partonefontwrap4dtkeshihua {
		position: absolute;
    width: 74px;
    height: 74px;
    border-radius: 37px;
		top:32px;
		left:103px;
		background-color: #227af7;
	}
	#core_caijifontke {
		z-index: 1000;
	  position: absolute;
	  top: 40px;
	  left: 105px;
	  text-align: center;
	}
	.core_caijifontdatakeshihua {
		text-decoration: none;
		color: white;
		font-size: 28px
	}
	#core_caijifontke:hover + #coretech_partonefontwrap4dtkeshihua{
		position: absolute;
		width: 74px;
    height: 74px;
    border-radius: 37px;
		top:32px;
		left:103px;
		background-color: #1a60c3;
	}
	.zhiguanjiemianwrap {
		position: absolute;
		top:21px;
		left:-15px;
	}
	.lingguobianjiewrap {
		position: absolute;
		bottom:43px;
		width: 78px;
		left: -13px
	}
	.quanfangmianwrap {
		position: absolute;
		bottom: 94px;
		right: -33px;
		width: 94px
	}
	.shujucaijiwrap {
		position: absolute;
		top:22px;
		left:64px;
	}
	.shangyejiazhiwrap {
		position: absolute;
		top:101px;
		left: -38px
	}
	.zhinengyinqinwrap {
		position: absolute;
		top:101px;
		right: -38px
	}
	.ziranyuyanwrap {
		position: absolute;
		bottom: -40px;
		left:50px
	}
	.neiwangwrap {
		position: absolute;
		width: 38%;
		top: 112px;
	}
	.waiwangwrap {
		position: absolute;
		width: 23%;
		top: 10px;
		right: 0
	}
	.disanfangwrap {
		position: absolute;
		width: 37%;
		right: -7px;
		bottom: -44px
	}
	.shoujifont {
		text-align: left !important;
	}
	.footerfont {
		text-align: center;
	}
	.navfont {
		text-align: left;
	}
	.is-drilldown {
		position: absolute;
    background: #045ec8;
    min-height: 430px;
    width: 100%;
    left:-2px;
    //max-width: 320px;
	}
	.shoujifontsize {
		font-size: 10px
	}
	.shoujifontsize1 {
		font-size: 14px
	}
	.phonewrap {
		width: 202px;
		margin: 0 auto;
	}
	.img3{ 
		height: 35px 
	}
  .img1,.img2,.img4{ 
  	display:none; 
  }
  .img8 {
  	height: 82px;
  	margin-bottom: 30px
  }
  .img5,.img6,.img7 {
  	display: none;
  }
  .logoimg4 {
  	height: 16px
  }
  .logoimg1,.logoimg2, .logoimg3{
  	display: none
  }
}
