*{margin:0;padding:0};
img{border:none}


.part3 {
		background-image: url(coretechbg.jpg);
  background-size: cover;
	background-color: #004dc6;
  background-position: center;
	height: 1070px;90vh
  width: 100%;
}
.fontcolor {
	color: white
}
.fontcolorbg {
	background-color: #fff
}
li {
 list-style:none;
 padding:0;
 margin:0;
}
.margintop {
	margin-top:6em;
}
.footermargintop {
	margin-top: 3em;
}
.marginbottom {
	margin-bottom: 6em
}
.titlemarginbottom {
	margin-bottom: 2em
}
.trybtn {
	text-decoration: none;
  text-align: center;
  background-color: rgba(0,0,0,0);
  color: white;
  width: 240px;
  height: 47px;
  border: 1px solid white;
  margin: 0 auto;

}
.h3marin {
	margin-top: 11px
}


@media screen and (min-width:1920px) {
	.coretech_sectionone {
		background-image: url(coretechbanner1920.jpg);
	  background-size: cover;
		background-color: #004dc6;
	  background-position: center;
		height: 1080px;
	  width: 100%;
	}
	.coretechmargin {
		margin-top: 380px
	}
	.coretech_sectionthree {
		background-image: url(coretechmodele3bg1920.jpg);
	  background-size: cover;
		background-color: #004dc6;
	  background-position: center;
		height: 868px;
	  width: 100%;
	}
	.try {
		height: 640px
	}
	.coretech_dataimg {
		width: 730px;
		margin: 0 auto;
		border: 1px solid red;
		height: 586px;
		background-image: url(1920-qiangdadeshujujieru.jpg);
	  background-size: cover;
		background-color: #004dc6;
	  background-position: center;
	}
	.footerfont {
		text-align: left;
	}

}
@media screen and (min-width: 1366px) and (max-width: 1919px) {
	.coretech_sectionone {
		background-image: url(coretechbanner1366.jpg);
	  background-size: cover;
		background-color: #004dc6;
	  background-position: center;
		height: 768px;
	  width: 100%;
	}
	.coretechmargin {
		margin-top: 270px
	}
	.coretech_sectionthree {
		background-image: url(coretechmodele3bg1366.jpg);
	  background-size: cover;
		background-color: #004dc6;
	  background-position: center;
		height: 676px;
	  width: 100%;
	}
	.coretech_dataimg {
		width: 566px;
		margin: 0 auto;
		border: 1px solid red;
		height: 476px;
		background-image: url(1366-qiangdadeshujucaiji.jpg);
	  background-size: cover;
		background-color: #004dc6;
	  background-position: center;
	}
	.footerfont {
		text-align: left;
	}

}
@media screen and (min-width: 768px) and (max-width: 1365px) {
	.coretech_sectionone {
		background-image: url(coretechbanner768.jpg);
	  background-size: cover;
		background-color: #004dc6;
	  background-position: center;
		height: 1080px;
	  width: 100%;
	}
	.coretech_sectionthree {
		background-image: url(coretechmodele3bg768.jpg);
	  background-size: cover;
		background-color: #004dc6;
	  background-position: center;
		height: 676px;
	  width: 100%;
	}
	.coretech_dataimg {
		width: 334px;
		margin: 0 auto;
		border: 1px solid red;
		height: 276px;
		background-image: url(768-qiangdadeshujucaiji.jpg);
	  background-size: cover;
		background-color: #004dc6;
	  background-position: center;
	}
	.footerfont {
		text-align: left;
	}

}
@media screen and (min-width: 320px) and (max-width: 767px) {
	.coretech_sectionone {
		background-image: url(coretechbanner320.jpg);
	  background-size: cover;
		background-color: #004dc6;
	  background-position: center;
		height: 480px;
	  width: 100%;
	}
	.coretechmargin {
		margin-top: 168px
	}
	.coretech_sectionthree {
		background-image: url(coretechmodele3bg320.jpg);
	  background-size: cover;
		background-color: #004dc6;
	  background-position: center;
		height: 363px;
	  width: 100%;
	}
	.coretech_dataimg {
		width: 190px;
		margin: 0 auto;
		border: 1px solid red;
		height: 201px;
		background-image: url(320-qiangdadeshujucaiji.jpg);
	  background-size: cover;
		background-color: #004dc6;
	  background-position: center;
	}
	.footerfont {
		text-align: center;
	}
}
