*{margin:0;padding:0};
img{border:none}
nav .nav {
	margin: :0;padding:0;
}
.part3 {
		background-image: url(coretechbg.jpg);
  background-size: cover;
	background-color: #004dc6;
  background-position: center;
	height: 1070px;90vh
  width: 100%;
}
.fontcolor {
	color: white
}
.fontcolorbg {
	background-color: #fff
}
li {
 list-style:none;
 padding:0;
 margin:0;
}
.footermargintop {
	margin-top: 3em;
}


.coretech_caijiwrap {
	position: relative;
}
.beianborder {
	border-top: 1px solid rgba(255,255,255,0.4);
}

.fontright {
	text-align: right
}
.fontcolorblue {
	color: #6a9ef9;
}
.zhijian_sectiontwo {
	background-color: #eaf3ff
}
.borderright {
	border-right: 1px solid #bfbfbf;

}
.borderbottom {
		border-bottom: 1px solid #bfbfbf
}
.index_sectionfour {
		background-color: #eeeeee
}
@media screen and (min-width:1920px) {
	.circle {
		width: 66px;
		height: 66px;
		border-radius: 34px;
		background-color: blue
	}
	.lineheigh {
		height: 100px;
		padding-top:20px;
	}
	.timelinepadding {
		padding-top: 10px
	}
	.portparttwomargin {
		margin-top: 30px
	}
	.guanliimg {
		height: 337px
	}
	.hezuohuobanimg {
		height: 130px
	}
	.portwrap {
		border: 1px solid #227af7;
	}
	.portnamewrap {
		background-color: #227af7;
		padding-bottom: 10px;
		padding-top: 10px
	}
	.fontmargin {
		margin-top: 20px
	}
	.paraleftmargin {
		padding-left: 40px;
		width: 90%
	}
	.hangyewrap {
		width: 70%;
		margin: 0 auto 
	}
	.addresswrap {
		height: 300px;
		border-right: 1px solid #bfbfbf
	}
	.mapwrap {
		padding-top: 15px;
    padding-bottom: 15px;
    background-color: #227af7;
    color: white;
    padding-left: 20px
	}

	.paralineheight {
		line-height: 28px
	}
	.hangyelogo {
		height: 90px;
		margin: 45px
	}
	.hanyyeyuanwrap {
		width: 180px;
		height: 180px;
		border-radius: 90px;
		background-color: white;
		margin: 0 auto;
		margin-bottom: 40px
	}

	.companyimgindex {
		height: 60px;
		margin-bottom: 40px
	}
	.kehuliucun {
		height: 78px;
		margin-top:120px;
	}
	.kehukoubeileftwrap {
		padding-right: 40px;
		margin-bottom: 50px
	}
	.kehukoubeirightwrap {
		padding-left: 40px;
		margin-bottom: 50px
	}
	.bigfont {
		font-size: 24px
	}
	.quanqiubigfont {
		font-size: 46px
	}
	.strbigfont {
		font-size: 80px;
		margin-bottom: 60px
	}
	.kaishibtn {
		font-size: 32px
	}
	.trybtn {
		text-decoration: none;
	  text-align: center;
	  background-color: rgba(0,0,0,0);
	  color: white;
	  width: 250px;
	  height: 50px;
	  border: 1px solid white;
	  margin: 0 auto;
	}
	.h3marin {
		margin-top: 8px
	}
	.contentwrap {
		padding-top: 144px;
		padding-bottom: 144px
	}
	.contentbottom {
		padding-bottom: 144px
	}
	.contentwrapteshu {
		padding-top: 144px;
		padding-bottom: 144px
	}
	.qiangdabigfont {
		font-size: 36px
	}
	.titlemarginbottom {
	  margin-bottom: 70px;
	  margin-top: 30px;
	}
	.zhenghebigfont {
		font-size: 20px
	}
	.shujujierubigfont {
		font-size: 26px
	}
	.neiwangbigfont {
		font-size: 24px
	}
	.hangyebigfont {
		font-size: 22px
	}
	.dianzibigfont {
		font-size: 18px
	}
	.shujucaijibigfont {
		font-size: 16px
	}
	.rengongzhinengbigfont {
		font-size: 28px
	}
	.zhiguanjiemianbigfont {
		font-size: 24px
	}
	.keshihuajiemianbigfont {
		font-size: 28px
	}
	.guanyuwomenbigfont {
		font-size: 22px;
		margin-bottom: 30px
	}
	.gongsijianjiebigfont {
		font-size: 16px
	}
	.coretech_sectionone {
		background-image: url(indexbanner1920.jpg);
	  background-size: cover;
		background-color: #004dc6;
	  background-position: center;
		height: 1080px;
	  width: 100%;
	}
	.coretechmargin {
		margin-top: 380px
	}
	.coretech_sectionthree {
		//background-image: url(coretechmodele3bg1920.jpg);
	  background-size: cover;
		background-color: #183da7;
	  background-position: center;
		height: 868px;
	  width: 100%;
	}
	.kuhuliucunbgwrap {
	  background-size: cover;
		background-color: #0a3b7f;
	  background-position: center;
	  height: 280px;
	  margin-bottom: 60px;
	  width: 90%;
	  margin: 0 auto
	}
	.kuhuliucunbgrightwrap {		
	  background-size: cover;
		background-color: #0a3b7f;
	  background-position: center;
	  height: 280px;
	  margin-bottom: 60px;
	  width: 90%;
	  margin: 0 auto
	}
	.bgkuhuliucunwrap {
		background-image: url(kehu1920.jpg);
	}
	.zhijianbg {
		background-image: url(kefu1920.jpg);
	}
	.yingxiaobg {
		background-image: url(zhineng1920.jpg);
	}
	.celuebg {
		background-image: url(celue1920.jpg);
	}
	.btnwrap {
		position: absolute;
    right: 88px;
    bottom: -27px;
    width: 85%;
    background-color: #227af7;
    border: 1px solid #227af7;
    height: 75px;
    text-align: center;
    color: white;
	}
	.btnwrap2 {
		position: absolute;
    right: 88px;
    bottom: -63px;
    width: 85%;
    background-color: #227af7;
    border: 1px solid #227af7;
    height: 106px;
    text-align: center;
    color: white;
	}
	.rowmargin {
		margin-bottom: 60px
	}
	.try {
		height: 640px
	}
	.coretech_dataimg {
		width: 724px;
		margin: 0 auto;
		height: 583px;
		background-image: url(qiangdadeshuju1920.png);
	  background-size: cover;
	  background-position: center;
	}
	.coretech_zengqiangimg {
		position: relative;
		width: 448px;
		margin: 0 auto;
		height: 431px;
		background-image: url(rengongzhineng1920.png);
	  background-size: cover;
	  background-position: center;
	}
	.rengongfont {
		text-decoration: none;
    color: #01296d;
	}
	#coretech_partonefontwrap4dtrg {
		position: absolute;
    width: 142px;
    height: 142px;
    border-radius: 71px;
    top: 153px;
    left: 153px;
    background-color: white;
	}
	#core_caijifontrg {
		position: absolute;
		top:188px;
		left: 130px;
		z-index: 1000;
		text-decoration: none;
		color: black;
		width: 184px
	}
	.rengongfont:hover{
		text-decoration: none;
    color: #01296d;
	}
	#core_caijifontrg:hover + #coretech_partonefontwrap4dtrg{
		position: absolute;
    width: 142px;
    height: 142px;
    border-radius: 71px;
    top: 153px;
    left: 153px;
    background-color: #d3d3d3;
	}
	#coretech_partonefontwrap4dtkeshihua {
		position: absolute;
    width: 180px;
    height: 180px;
    border-radius: 90px;
		top:173px;
		left: 479px;
		background-color: #227af7;
	}
	#core_caijifontke {
			z-index: 1000;
	    position: absolute;
	    top: 230px;
	    left: 500px;
	    text-align: center;
	}
	.core_caijifontdatakeshihua {
		text-decoration: none;
		color: white;
		font-size: 28px
	}
	#core_caijifontke:hover + #coretech_partonefontwrap4dtkeshihua{
		position: absolute;
		width: 180px;
    height: 180px;
    border-radius: 90px;
		top:173px;
		left: 479px;
		background-color: #1a60c3;
	}
	.coretech_zhinengimg {
		position: relative;
		width: 1137px;
		margin: 0 auto;
		height: 578px;
		background-image: url(zhineng1920.png);
	  background-size: cover;
	  background-position: center;
	}
	.zhiguanjiemianwrap {
		position: absolute;
		top:52px;
		left:100px;
		letter-spacing: 5px
	}
	.lingguobianjiewrap {
		position: absolute;
		bottom:110px;
		letter-spacing: 5px;
		left: 30px
	}
	.quanfangmianwrap {
		width: 300px;
		position: absolute;
		bottom: 204px;
		letter-spacing: 5px;
		right: -38px
	}
	.shujucaijiwrap {
		position: absolute;
		top:70px;
		left:192px;
	}
	.shangyejiazhiwrap {
		position: absolute;
		top:254px;
		left: -20px
	}
	.zhinengyinqinwrap {
		position: absolute;
		top:254px;
		right: -20px
	}
	.ziranyuyanwrap {
		position: absolute;
		bottom: -40px;
		left: 177px
	}
	.neiwangwrap {
		position: absolute;
		width: 208px;
		top:208px;
	}
	.waiwangwrap {
		position: absolute;
		width: 208px;
		top:146px;
		right: 0
	}
	.disanfangwrap {
		position: absolute;
		width: 208px;
		right: 90px;
		bottom: 20px
	}
	.footerfont {
		text-align: left;
	}
	.shujujierubuttonwrap {
	  position: absolute;
    width: 220px;
    height: 220px;
    border-radius: 110px;
    top: 186px;
    left: 461px;
    background-color: #227af7;
  }
  .core_caijifont {
  	z-index: 1000;
    position: absolute;
    top: 76px;
    left: 27px;
    text-align: center;
    letter-spacing: 2px;
    //width: 138px;
  }
	.img1 { 
		height:32px;
		margin-top: 2px
	}
  .img2,.img3,.img4{ 
  	display:none; 
  }
  .img5 {
  	height: 94px
  }
  .img6,.img7,.img8 {
  	display: none;
  }
  .guanyuwrap {
  	padding-left: 37px
  }
  .logoimg1 {
  	height: 35px
  }
  .logoimg2,.logoimg4,.logoimg3 {
  	display: none;
  }
  footer {
		background-color: #001431;
		color: rgba(255,255,255,0.5);
		padding-top: 50px
	}
}
@media screen and (min-width: 1366px) and (max-width: 1919px) {
	.paraleftmargin {
		padding-left: 40px;
		width: 90%
	}
	.btnwrap {
		position: absolute;
    right: 88px;
    bottom: -27px;
    width: 85%;
    background-color: #227af7;
    border: 1px solid #227af7;
    height: 75px;
    text-align: center;
    color: white;
	}
	.btnwrap2 {
		position: absolute;
    right: 88px;
    bottom: -63px;
    width: 85%;
    background-color: #227af7;
    border: 1px solid #227af7;
    height: 106px;
    text-align: center;
    color: white;
	}
	.mapwrap {
		padding-top: 15px;
    padding-bottom: 15px;
    background-color: #227af7;
    color: white;
    padding-left: 20px
	}
	.lineheigh {
		height: 100px;
		padding-top:20px;
	}
	.timelinepadding {
		padding-top: 10px
	}
	.portparttwomargin {
		margin-top: 30px
	}
	.guanliimg {
		height: 337px
	}
	.hezuohuobanimg {
		height: 130px !important
	}
	.portwrap {
		border: 1px solid #227af7;
	}
	.portnamewrap {
		background-color: #227af7;
		padding-bottom: 10px;
		padding-top: 10px
	}
	.paralineheight {
		line-height: 28px
	}
	.fontmargin {
		margin-top: 20px
	}
	.lineheigh {
		height: 100px
	}
	.circle {
		width: 66px;
		height: 66px;
		border-radius: 34px;
		background-color: blue
	}
	.hangyelogo {
		height: 90px;
		margin: 45px
	}
	.hanyyeyuanwrap {
		width: 180px;
		height: 180px;
		border-radius: 90px;
		background-color: white;
		margin: 0 auto;
		margin-bottom: 40px
	}
	.hangyewrap {
		width: 70%;
		margin: 0 auto
	}
	.companyimgindex {
		height: 60px;
		margin-bottom: 40px
	}
	.kehuliucun {
		height: 78px;
		margin-top:120px;
	}
	.rowmargin {
		margin-bottom: 60px
	}
	.bgkuhuliucunwrap {
		background-image: url(kehu1920.jpg);
	}
	.zhijianbg {
		background-image: url(kefu1920.jpg);
	}
	.yingxiaobg {
		background-image: url(zhineng1920.jpg);
	}
	.celuebg {
		background-image: url(celue1920.jpg);
	}
	.kuhuliucunbgwrap {
	  background-size: cover;
		background-color: #0a3b7f;
	  background-position: center;
	  height: 280px;
	  margin-bottom: 60px;
	  width: 90%;
	  margin: 0 auto
	}
	.kuhuliucunbgrightwrap {		
	  background-size: cover;
		background-color: #0a3b7f;
	  background-position: center;
	  height: 280px;
	  margin-bottom: 60px;
	  width: 90%;
	  margin: 0 auto
	}
	.kehukoubeileftwrap {
		padding-right: 40px;
		//padding-bottom: 50px
	}
	.kehukoubeirightwrap {
		padding-left: 40px;
		margin-bottom: 30px
	}
	
	.btnwrap {
		position: absolute;
    right: 88px;
    bottom: -27px;
    width: 85%;
    background-color: #227af7;
    border: 1px solid #227af7;
    height: 75px;
    text-align: center;
    color: white;
	}
	.bigfont {
		font-size: 24px
	}
	.quanqiubigfont {
		font-size: 46px
	}
	.strbigfont {
		font-size: 80px;
		margin-bottom: 60px
	}
	.kaishibtn {
		font-size: 32px
	}
	.trybtn {
		text-decoration: none;
	  text-align: center;
	  background-color: rgba(0,0,0,0);
	  color: white;
	  width: 250px;
	  height: 50px;
	  border: 1px solid white;
	  margin: 0 auto;
	}
	.h3marin {
		margin-top: 8px
	}
	.contentwrap {
		padding-top: 144px;
		padding-bottom: 144px
	}
	.contentbottom {
		padding-bottom: 144px
	}
	.contentwrapteshu {
		padding-top: 144px;
		padding-bottom: 144px
	}
	.qiangdabigfont {
		font-size: 36px
	}
	.titlemarginbottom {
	  margin-bottom: 70px;
	  margin-top: 30px;
	}
	.zhenghebigfont {
		font-size: 20px
	}
	.shujujierubigfont {
		font-size: 26px
	}
	.neiwangbigfont {
		font-size: 24px
	}
	.hangyebigfont {
		font-size: 22px
	}

	.dianzibigfont {
		font-size: 18px
	}
	.shujucaijibigfont {
		font-size: 16px
	}
	.rengongzhinengbigfont {
		font-size: 28px
	}
	.zhiguanjiemianbigfont {
		font-size: 24px
	}
	.keshihuajiemianbigfont {
		font-size: 28px
	}
	.guanyuwomenbigfont {
		font-size: 22px
	}
	.gongsijianjiebigfont {
		font-size: 16px
	}
	.coretech_sectionone {
		background-image: url(coretechbanner1366.jpg);
	  background-size: cover;
		background-color: #004dc6;
	  background-position: center;
		height: 768px;
	  width: 100%;
	}
	.coretechmargin {
		margin-top: 270px
	}
	.coretech_sectionthree {
		//background-image: url(coretechmodele3bg1366.jpg);
	  background-size: cover;
		background-color: #183da7;
	  background-position: center;
		height: 688px;
	  width: 100%;
	}
	.coretech_dataimg {
		width: 565px;
		margin: 0 auto;
		height: 475px;
		background-image: url(qiangdadeshuju1366.png);
	  background-size: cover;
	  background-position: center;
	}
	.coretech_zengqiangimg {
		position: relative;
		width: 448px;
		margin: 0 auto;
		height: 431px;
		background-image: url(rengongzhineng1366.png);
	  background-size: cover;
	  background-position: center;
	}
	.coretech_zhinengimg {
		position: relative;
		width: 1137px;
		margin: 0 auto;
		height: 578px;
		background-image: url(zhineng1920.png);
	  background-size: cover;
	  background-position: center;
	}
	#coretech_partonefontwrap4dtrg {
		position: absolute;
    width: 142px;
    height: 142px;
    border-radius: 71px;
    top: 159px;
    left: 153px;
    background-color: white;
	}
	#core_caijifontrg {
		position: absolute;
		top:195px;
		left: 130px;
		z-index: 1000;
		text-decoration: none;
		color: black;
		width: 184px
	}
	.rengongfont{
		text-decoration: none;
    color: #01296d;
	}
	.rengongfont:hover{
		text-decoration: none;
    color: #01296d;
	}
	#core_caijifontrg:hover + #coretech_partonefontwrap4dtrg{
		position: absolute;
    width: 142px;
    height: 142px;
    border-radius: 71px;
    top: 159px;
    left: 153px;
    background-color: #d3d3d3;
	}
	#coretech_partonefontwrap4dtkeshihua {
		position: absolute;
    width: 180px;
    height: 180px;
    border-radius: 90px;
		top:173px;
		left: 479px;
		background-color: #227af7;
	}
	#core_caijifontke {
			z-index: 1000;
	    position: absolute;
	    top: 230px;
	    left: 500px;
	    text-align: center;
	}
	.core_caijifontdatakeshihua {
		text-decoration: none;
		color: white;
		font-size: 28px
	}
	#core_caijifontke:hover + #coretech_partonefontwrap4dtkeshihua{
		position: absolute;
		width: 180px;
    height: 180px;
    border-radius: 90px;
		top:173px;
		left: 479px;
		background-color: #1a60c3;
	}
	.zhiguanjiemianwrap {
		position: absolute;
		top:52px;
		left:100px;
		letter-spacing: 5px
	}
	.lingguobianjiewrap {
		position: absolute;
		bottom:110px;
		letter-spacing: 5px;
		left: 30px
	}
	.quanfangmianwrap {
		width: 300px;
		position: absolute;
		bottom: 204px;
		letter-spacing: 5px;
		right: -38px
	}
	.shujucaijiwrap {
		position: absolute;
		top:74px;
		left:193px;
	}
	.shangyejiazhiwrap {
		position: absolute;
		top:258px;
		left: -20px
	}
	.zhinengyinqinwrap {
		position: absolute;
		top:257px;
		right: -20px
	}
	.ziranyuyanwrap {
		position: absolute;
		bottom: -40px;
		left: 180px
	}
	.neiwangwrap {
		position: absolute;
		width: 25%;
		top:176px;
	}
	.waiwangwrap {
		position: absolute;
		width: 25%;
		top:122px;
		right: 0
	}
	.disanfangwrap {
		position: absolute;
		width: 25%;
		right: 50px;
		bottom: 20px
	}
	.footerfont {
		text-align: left;
	}
	.img1{ 
		height:32px;
		margin-top: 2px
	}
  .img2,.img3,.img4 { 
  	display:none; 
  }
  .img5 {
  	height: 94px
  }
  .img6,.img7,.img8 {
  	display: none;
  }
  .guanyuwrap {
  	padding-left: 40px
  }
  .shujujierubuttonwrap {
	  position: absolute;
    width: 190px;
    height: 190px;
    border-radius: 95px;
    top: 142px;
    left: 478px;
    background-color: #227af7;
  }
  .core_caijifont {
  	z-index: 1000;
    position: absolute;
    top: 62px;
    left: 14px;
    text-align: center;
    letter-spacing: 2px;
    //width: 138px;
  }
  .logoimg1 {
  	height: 35px
  }
  .logoimg2,.logoimg4,.logoimg3 {
  	display: none;
  }
  footer {
		background-color: #001431;
		color: rgba(255,255,255,0.5);
		padding-top: 50px
	}
}
@media screen and (min-width: 1200px) and (max-width: 1365px) {
	.paraleftmargin {
		padding-left: 40px;
		width: 90%
	}
	.btnwrap {
		position: absolute;
    right: 88px;
    bottom: -27px;
    width: 85%;
    background-color: #227af7;
    border: 1px solid #227af7;
    height: 75px;
    text-align: center;
    color: white;
	}
	.btnwrap2 {
		position: absolute;
    right: 88px;
    bottom: -63px;
    width: 85%;
    background-color: #227af7;
    border: 1px solid #227af7;
    height: 106px;
    text-align: center;
    color: white;
	}
	.mapwrap {
		padding-top: 15px;
    padding-bottom: 15px;
    background-color: #227af7;
    color: white;
    padding-left: 20px
	}
	.circle {
		width: 66px;
		height: 66px;
		border-radius: 34px;
		background-color: blue
	}
	.lineheigh {
		height: 100px;
		padding-top:20px;
	}
	.timelinepadding {
		padding-top: 10px
	}
	.portparttwomargin {
		margin-top: 30px
	}
	.guanliimg {
		height: 337px
	}
	.hezuohuobanimg {
		height: 130px
	}
	.portwrap {
		border: 1px solid #227af7;
	}
	.portnamewrap {
		background-color: #227af7;
		padding-bottom: 10px;
		padding-top: 10px
	}
	.paralineheight {
		line-height: 28px
	}
	.fontmargin {
		margin-top: 20px
	}
	.hangyelogo {
		height: 90px;
		margin: 45px
	}
	.hanyyeyuanwrap {
		width: 180px;
		height: 180px;
		border-radius: 90px;
		background-color: white;
		margin: 0 auto;
		margin-bottom: 40px
	}
	.hangyewrap {
		width: 70%;
		margin: 0 auto
	}
	.companyimgindex {
		height: 60px;
		margin-bottom: 40px
	}
	.kehuliucun {
		height: 78px;
		margin-top:120px;
	}
	.rowmargin {
		margin-bottom: 60px
	}
	.bgkuhuliucunwrap {
		background-image: url(kehu1920.jpg);
	}
	.zhijianbg {
		background-image: url(kefu1920.jpg);
	}
	.yingxiaobg {
		background-image: url(zhineng1920.jpg);
	}
	.celuebg {
		background-image: url(celue1920.jpg);
	}
	.kuhuliucunbgwrap {
	  background-size: cover;
		background-color: #0a3b7f;
	  background-position: center;
	  height: 280px;
	  margin-bottom: 60px;
	  width: 90%;
	  margin: 0 auto
	}
	.kuhuliucunbgrightwrap {		
	  background-size: cover;
		background-color: #0a3b7f;
	  background-position: center;
	  height: 280px;
	  margin-bottom: 60px;
	  width: 90%;
	  margin: 0 auto
	}
	.kehukoubeileftwrap {
		padding-right: 40px;
		margin-bottom: 50px
	}
	.kehukoubeirightwrap {
		padding-left: 40px;
		margin-bottom: 30px
	}
	.btnwrap {
		position: absolute;
    right: 88px;
    bottom: -27px;
    width: 85%;
    background-color: #227af7;
    border: 1px solid #227af7;
    height: 75px;
    text-align: center;
    color: white;
	}
	.bigfont {
		font-size: 24px
	}
	.quanqiubigfont {
		font-size: 46px
	}
	.strbigfont {
		font-size: 80px;
		margin-bottom: 60px
	}
	.kaishibtn {
		font-size: 32px
	}
	.trybtn {
		text-decoration: none;
	  text-align: center;
	  background-color: rgba(0,0,0,0);
	  color: white;
	  width: 250px;
	  height: 50px;
	  border: 1px solid white;
	  margin: 0 auto;
	}
	.h3marin {
		margin-top: 8px
	}
	.contentwrap {
		padding-top: 144px;
		padding-bottom: 144px
	}
	.comtenbottom {
		padding-bottom: 144px
	}
	.contentwrapteshu {
		padding-top: 144px;
		padding-bottom: 144px
	}

	.qiangdabigfont {
		font-size: 36px
	}
	.titlemarginbottom {
	  margin-bottom: 70px;
	  margin-top: 30px;
	}
	.zhenghebigfont {
		font-size: 20px
	}
	.shujujierubigfont {
		font-size: 26px
	}
	.neiwangbigfont {
		font-size: 24px
	}
	.dianzibigfont {
		font-size: 18px
	}
	.shujucaijibigfont {
		font-size: 16px
	}
	.rengongzhinengbigfont {
		font-size: 28px
	}
	.zhiguanjiemianbigfont {
		font-size: 24px
	}
	.keshihuajiemianbigfont {
		font-size: 28px
	}
	.guanyuwomenbigfont {
		font-size: 22px
	}
	.hangyebigfont {
		font-size: 22px
	}
	.gongsijianjiebigfont {
		font-size: 16px
	}
	.coretech_sectionone {
		background-image: url(coretechbanner1366.jpg);
		background-size: cover;
		background-color: #004dc6;
		background-position: center;
		height: 768px;
		width: 100%;
	}
	.coretechmargin {
		margin-top: 270px
	}
	.coretech_sectionthree {
		//background-image: url(coretechmodele3bg1366.jpg);
	  background-size: cover;
		background-color: #183da7;
	  background-position: center;
		height: 688px;
	  width: 100%;
	}
	.coretech_dataimg {
		width: 565px;
		margin: 0 auto;
		height: 475px;
		background-image: url(qiangdadeshuju1366.png);
	  background-size: cover;
	  background-position: center;
	}
	.shujujierubuttonwrap {
	  position: absolute;
    width: 220px;
    height: 220px;
    border-radius: 110px;
    top: 125px;
    left: 461px;
    background-color: #227af7;
  }
  .core_caijifont {
  	z-index: 1000;
    position: absolute;
    top: 76px;
    left: 29px;
    text-align: center;
    letter-spacing: 2px;
    //width: 138px;
  }
	.coretech_zengqiangimg {
		position: relative;
		width: 448px;
		margin: 0 auto;
		height: 431px;
		background-image: url(rengongzhineng1366.png);
	  background-size: cover;
	  background-position: center;
	}
	.coretech_zhinengimg {
		position: relative;
		width: 1137px;
		margin: 0 auto;
		height: 578px;
		background-image: url(zhineng1920.png);
	  background-size: cover;
	  background-position: center;
	}
	#coretech_partonefontwrap4dtrg {
		position: absolute;
    width: 142px;
    height: 142px;
    border-radius: 71px;
    top: 164px;
    left: 153px;
    background-color: white;
	}
	#core_caijifontrg {
		position: absolute;
		top:200px;
		left: 130px;
		z-index: 1000;
		text-decoration: none;
		color: black;
		width: 184px
	}
	.rengongfont{
		text-decoration: none;
    color: #01296d;
	}
	.rengongfont:hover{
		text-decoration: none;
    color: #01296d;
	}
	#core_caijifontrg:hover + #coretech_partonefontwrap4dtrg{
		position: absolute;
    width: 142px;
    height: 142px;
    border-radius: 71px;
    top: 153px;
    left: 153px;
    background-color: #d3d3d3;
	}
	#coretech_partonefontwrap4dtkeshihua {
		position: absolute;
    width: 180px;
    height: 180px;
    border-radius: 90px;
		top:173px;
		left: 479px;
		background-color: #227af7;
	}
	#core_caijifontke {
			z-index: 1000;
	    position: absolute;
	    top: 230px;
	    left: 500px;
	    text-align: center;
	}
	.core_caijifontdatakeshihua {
		text-decoration: none;
		color: white;
		font-size: 28px
	}
	#core_caijifontke:hover + #coretech_partonefontwrap4dtkeshihua{
		position: absolute;
		width: 180px;
    height: 180px;
    border-radius: 90px;
		top:173px;
		left: 479px;
		background-color: #1a60c3;
	}
	.zhiguanjiemianwrap {
		position: absolute;
		top:52px;
		left:100px;
		letter-spacing: 5px
	}
	.lingguobianjiewrap {
		position: absolute;
		bottom:110px;
		letter-spacing: 5px;
		left: 30px
	}
	.quanfangmianwrap {
		width: 300px;
		position: absolute;
		bottom: 204px;
		letter-spacing: 5px;
		right: -38px
	}
	.shujucaijiwrap {
		position: absolute;
		top:74px;
		left:194px;
	}
	.shangyejiazhiwrap {
		position: absolute;
		top:260px;
		left: -20px
	}
	.zhinengyinqinwrap {
		position: absolute;
		top:260px;
		right: -20px
	}
	.ziranyuyanwrap {
		position: absolute;
		bottom: -40px;
		left: 180px
	}
	.neiwangwrap {
		position: absolute;
		width: 25%;
		top:176px;
	}
	.waiwangwrap {
		position: absolute;
		width: 25%;
		top:122px;
		right: 0
	}
	.disanfangwrap {
		position: absolute;
		width: 25%;
		right: 50px;
		bottom: 20px
	}
	.footerfont {
		text-align: left;
	}
	.img1 { 
		height:32px;
		margin-top: 2px
	}
  .img2,.img3,.img4 { 
  	display:none; 
  }
  .img5 {
  	height: 94px
  }
  .img6,.img7,.img8 {
  	display: none;
  }
  .guanyuwrap {
  	padding-left: 45px
  }
  .logoimg1 {
  	height: 35px
  }
  .logoimg2,.logoimg4,.logoimg3 {
  	display: none;
  }
  footer {
		background-color: #001431;
		color: rgba(255,255,255,0.5);
		padding-top: 50px
	}
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
	.fontmargin {
		margin-top: 18px
	}
	.hanyyeyuanwrap {
		width: 202px;
    height: 202px;
    border-radius: 101px;
    background-color: white;
    margin: 0 auto;
    margin-bottom: 40px;
	}
	.companyimgindex {
		height: 80px;
		margin-bottom: 30px
	}
	.paraleftmargin {
		padding-left: 40px;
		width: 90%
	}
	.btnwrap {
		position: absolute;
    right: 88px;
    bottom: -27px;
    width: 85%;
    background-color: #227af7;
    border: 1px solid #227af7;
    height: 75px;
    text-align: center;
    color: white;
	}
	.btnwrap2 {
		position: absolute;
    right: 88px;
    bottom: -63px;
    width: 85%;
    background-color: #227af7;
    border: 1px solid #227af7;
    height: 106px;
    text-align: center;
    color: white;
	}
	.mapwrap {
		padding-top: 15px;
    padding-bottom: 15px;
    background-color: #227af7;
    color: white;
    padding-left: 20px
	}

	.lineheigh {
		height: 100px;
		padding-top:20px;
	}
	.timelinepadding {
		padding-top: 5px
	}
	.portparttwomargin {
		margin-top: 30px
	}
	.guanliimg {
		height: 266px
	}
	.hezuohuobanimg {
		height: 105px
	}
	.portwrap {
		border: 1px solid #227af7;
	}
	.portnamewrap {
		background-color: #227af7;
		padding-bottom: 10px;
		padding-top: 10px
	}
	.lineheigh {
		height: 80px
	}
	.circle {
		width: 48px;
		height: 48px;
		border-radius: 24px;
		background-color: yellow
	}
	.hangyewrap {
		width: 70%;
		margin: 0 auto
	}
	.rowmargin {
		margin-bottom: 60px
	}
	.kehukoubeileftwrap {
		padding-right: 40px;
		margin-bottom: 40px
	}
	.kehukoubeirightwrap {
		padding-left: 40px;
		margin-bottom: 40px
	}
	.kuhuliucunbgwrap {
		background-image: url(kebubg1.jpg);
	  background-size: cover;
		background-color: #0a3b7f;
	  background-position: center;
	  height: 200px;
	  margin-bottom: 60px;
	  width: 90%;
	  margin: 0 auto
	}
	.kuhuliucunbgrightwrap {
		background-image: url(kebubg1.jpg);
	  background-size: cover;
		background-color: #0a3b7f;
	  background-position: center;
	  height: 200px;
	  margin-bottom: 60px;
	  width: 90%;
	  margin: 0 auto
	}
	.btnwrap {
		position: absolute;
    right: 88px;
    bottom: -27px;
    width: 85%;
    background-color: #227af7;
    border: 1px solid #227af7;
    height: 60px;
    text-align: center;
    color: white;
	}
	.bigfont {
		font-size: 22px
	}
	.quanqiubigfont {
		font-size: 36px
	}
	.strbigfont {
		font-size: 60px;
		margin-bottom: 50px
	}
	.kaishibtn {
		font-size: 26px
	}
	
	.trybtn {
		text-decoration: none;
	  text-align: center;
	  background-color: rgba(0,0,0,0);
	  color: white;
	  width: 212px;
	  height: 40px;
	  border: 1px solid white;
	  margin: 0 auto;
	}
	.h3marin {
		margin-top: 6px
	}
	.contentwrap {
		padding-top: 110px;
		padding-bottom: 110px
	}
	.contentbottom {
		padding-bottom: 110px
	}
	.contentwrapteshu {
		padding-top: 110px;
		padding-bottom: 110px
	}
	.qiangdabigfont {
		font-size: 32px
	}
	.titlemarginbottom {
	  margin-bottom: 50px;
	  margin-top: 26px;
	}
	.zhenghebigfont {
		font-size: 24px
	}
	.shujujierubigfont {
		font-size: 24px
	}
	.neiwangbigfont {
		font-size: 22px
	}
	.dianzibigfont {
		font-size: 16px
	}
	.shujucaijibigfont {
		font-size: 16px
	}
	.hangyebigfont {
		font-size: 18px
	}
	.rengongzhinengbigfont {
		font-size: 24px
	}
	.zhiguanjiemianbigfont {
		font-size: 22px
	}
	.keshihuajiemianbigfont {
		font-size: 24px
	}
	.guanyuwomenbigfont {
		font-size: 20px
	}
	.gongsijianjiebigfont {
		font-size: 16px
	}
	.coretech_sectionone {
		background-image: url(coretechbanner1366.jpg);
		  background-size: cover;
			background-color: #004dc6;
		  background-position: center;
			height: 768px;
		  width: 100%;
	}
	.coretechmargin {
		margin-top: 270px
	}
	.coretech_sectionthree {
		//background-image: url(coretechmodele3bg1366.jpg);
	  background-size: cover;
		background-color: #183da7;
	  background-position: center;
		height: 688px;
	  width: 100%;
	}
	.coretech_dataimg {
		width: 535px;
		margin: 0 auto;
		height: 450px;
		background-image: url(qiangdadeshuju940.png);
	  background-size: cover;
	  background-position: center;
	}
	.shujujierubuttonwrap {
	  position: absolute;
    width: 172px;
    height: 172px;
    border-radius: 86px;
    top: 141px;
    left: 384px;
    background-color: #227af7;
  }
  .core_caijifont {
  	z-index: 1000;
    position: absolute;
    top: 57px;
    left: 10px;
    text-align: center;
    letter-spacing: 2px;
    //width: 138px;
  }
	.coretech_zengqiangimg {
		position: relative;
		width: 343px;
		margin: 0 auto;
		height: 324px;
		background-image: url(rengongzhineng940.png);
	  background-size: cover;
	  background-position: center;
	}
	.coretech_zhinengimg {
		position: relative;
		width: 939px;
		margin: 0 auto;
		height: 415px;
		background-image: url(zhineng940.png);
	  background-size: cover;
	  background-position: center;
	}
	#coretech_partonefontwrap4dtrg {
		position: absolute;
    width: 118px;
    height: 118px;
    border-radius: 59px;
    top: 116px;
    left: 114px;
    background-color: white;
	}
	#core_caijifontrg {
		position: absolute;
		top:146px;
		left: 82px;
		z-index: 1000;
		text-decoration: none;
		color: black;
		width: 184px
	}
	.rengongfont{
		text-decoration: none;
    color: #01296d;
	}
	.rengongfont:hover{
		text-decoration: none;
    color: #01296d;
	}
	#core_caijifontrg:hover + #coretech_partonefontwrap4dtrg{
		position: absolute;
    width: 118px;
    height: 118px;
    border-radius: 59px;
    top: 116px;
    left: 114px;
    background-color: #d3d3d3;
	}
	#coretech_partonefontwrap4dtkeshihua {
		position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 75px;
		top:109px;
		left: 395px;
		background-color: #227af7;
	}
	#core_caijifontke {
		z-index: 1000;
	  position: absolute;
	  top: 153px;
	  left: 408px;
	  text-align: center;
	}
	.core_caijifontdatakeshihua {
		text-decoration: none;
		color: white;
		font-size: 28px
	}
	#core_caijifontke:hover + #coretech_partonefontwrap4dtkeshihua{
		position: absolute;
		width: 150px;
    height: 150px;
    border-radius: 75px;
		top:109px;
		left: 395px;
		background-color: #1a60c3;
	}
	.zhiguanjiemianwrap {
		position: absolute;
		top:32px;
		left:74px;
		letter-spacing: 5px
	}
	.lingguobianjiewrap {
		position: absolute;
		bottom:95px;
		letter-spacing: 5px;
		left: 24px;
	}
	.quanfangmianwrap {
		position: absolute;
		bottom: 154px;
		letter-spacing: 5px;
		right: -42px;
		width: 300px
	}
	.shujucaijiwrap {
		position: absolute;
		top:54px;
		left:142px;
	}
	.shangyejiazhiwrap {
		position: absolute;
		top:192px;
		left: -32px
	}
	.zhinengyinqinwrap {
		position: absolute;
		top:192px;
		right: -32px
	}
	.ziranyuyanwrap {
		position: absolute;
		bottom: -40px;
		left: 127px
	}

	.neiwangwrap {
		position: absolute;
		width: 202px;
		top:176px;
	}
	.waiwangwrap {
		position: absolute;
		width: 202px;
		top:122px;
		right: 0
	}
	.disanfangwrap {
		position: absolute;
		width: 202px;
		right: 50px;
		bottom: 20px
	}
	.footerfont {
		text-align: left;
	}
	.img4{ 
		height: 25px; 
		margin-top: 8px
	}
  .img1,.img2,.img3 { 
  	display:none; 
  }
  .img6 {
  	height: 78px;
  	margin-left: -15px !important;
  }
  .img5,.img7,.img8 {
  	display: none;
  }
  .guanyuwrap {
  	padding-left: 25px
  }

  .logoimg2 {
  	height: 29px
  }
  .logoimg1,.logoimg3,.logoimg4{
  	display: none;
  }
  .padlogomarigin {
  	margin-top: 4px
  }
  footer {
		background-color: #001431;
		color: rgba(255,255,255,0.5);
		padding-top: 36px
	}
	.padpromargin {
		margin-right: 40px;
		margin-left: 20px
	}
}
@media screen and (min-width: 768px) and (max-width: 991px) {
	.fontmargin {
		margin-top: 18px
	}
	.hanyyeyuanwrap {
		width: 162px;
    height: 162px;
    border-radius: 81px;
    background-color: white;
    margin: 0 auto;
    margin-bottom: 25px;
	}
	.companyimgindex {
		height: 50px;
		margin-bottom: 20px
	}
	.paraleftmargin {
		padding-left: 40px;
		width: 90%
	}
	.btnwrap {
		position: absolute;
    right: 88px;
    bottom: -27px;
    width: 85%;
    background-color: #227af7;
    border: 1px solid #227af7;
    height: 75px;
    text-align: center;
    color: white;
	}
	.btnwrap2 {
		position: absolute;
    right: 55px;
    bottom: -48px;
    width: 85%;
    background-color: #227af7;
    border: 1px solid #227af7;
    height: 86px;
    text-align: center;
    color: white;
	}
	.mapwrap {
		padding-top: 10px;
    padding-bottom: 10px;
    background-color: #227af7;
    color: white;
    padding-left: 20px
	}
	.lineheigh {
		height: 60px;
		padding-top:10px;
	}
	.timelinepadding {
		padding-top: 2px
	}
	.portparttwomargin {
		margin-top: 30px
	}
	.guanliimg {
		height: 197px
	}
	.hezuohuobanimg {
		height: 77px
	}
	.portwrap {
		border: 1px solid #227af7;
	}
	.portnamewrap {
		background-color: #227af7;
		padding-bottom: 10px;
		padding-top: 10px
	}
	.circle {
		width: 30px;
		height: 30px;
		border-radius: 15px;
		background-color: yellow
	}
	.timelinewrap {
		width: 100%;
		margin: 0 auto
	}
	.hangyewrap {
		width: 75%;
		margin: 0 auto
	}
	.rowmargin {
		margin-bottom: 60px
	}
	.kehukoubeileftwrap {
		padding-right: 40px;
		margin-bottom: 20px
	}
	.kehukoubeirightwrap {
		padding-left: 40px;
		margin-bottom: 20px
	}
	.kuhuliucunbgwrap {
		background-image: url(kebubg1.jpg);
	  background-size: cover;
		background-color: #0a3b7f;
	  background-position: center;
	  height: 200px;
	  margin-bottom: 60px;
	  width: 90%;
	  margin: 0 auto
	}
	.kuhuliucunbgrightwrap {
		background-image: url(kebubg1.jpg);
	  background-size: cover;
		background-color: #0a3b7f;
	  background-position: center;
	  height: 200px;
	  margin-bottom: 60px;
	  width: 90%;
	  margin: 0 auto
	}
	.btnwrap {
		position: absolute;
    right: 58px;
    bottom: -27px;
    width: 83%;
    background-color: #227af7;
    border: 1px solid #227af7;
    height: 60px;
    text-align: center;
    color: white;
	}
	.bigfont {
		font-size: 14px
	}
	.quanqiubigfont {
		font-size: 26px
	}
	.strbigfont {
		font-size: 46px;
		margin-bottom: 40px
	}
	.kaishibtn {
		font-size: 18px
	}
	.trybtn {
		text-decoration: none;
	  text-align: center;
	  background-color: rgba(0,0,0,0);
	  color: white;
	  width: 125px;
	  height: 26px;
	  border: 1px solid white;
	  margin: 0 auto;
	}
	.h3marin {
		margin-top: 3px
	}
	.contentwrap {
		padding-top: 60px;
		padding-bottom: 60px
	}
	.contentbottom {
		padding-bottom: 60px
	}

	.contentwrapteshu {
		padding-top: 60px;
		padding-bottom: 100px
	}
	.qiangdabigfont {
		font-size: 24px
	}
	.titlemarginbottom {
	  margin-bottom: 30px;
	  margin-top: 15px;
	}
	.zhenghebigfont {
		font-size: 18px
	}
	.shujujierubigfont {
		font-size: 18px
	}
	.neiwangbigfont {
		font-size: 16px
	}
	.dianzibigfont {
		font-size: 12px
	}
	.hangyebigfont {
		font-size: 14px
	}
	.shujucaijibigfont {
		font-size: 14px
	}
	.rengongzhinengbigfont {
		font-size: 18px
	}
	.zhiguanjiemianbigfont {
		font-size: 16px
	}
	.keshihuajiemianbigfont {
		font-size: 18px
	}
	.guanyuwomenbigfont {
		font-size: 14px
	}
	.gongsijianjiebigfont {
		font-size: 12px
	}
	.coretech_sectionone {
		background-image: url(coretechbanner768.jpg);
	  background-size: cover;
		background-color: #004dc6;
	  background-position: center;
		height: 1080px;
	  width: 100%;
	}
	.coretechmargin {
		margin-top: 380px
	}
	.coretech_sectionthree {
		//background-image: url(coretechmodele3bg768.jpg);
	  background-size: cover;
		background-color: #183da7;
	  background-position: center;
		height: 482px;
	  width: 100%;
	}
	.coretech_dataimg {
		width: 333px;
		margin: 0 auto;
		height: 275px;
		background-image: url(qiangdadeshuju768.png);
	  background-size: cover;
	  background-position: center;
	}
	.shujujierubuttonwrap {
	  position: absolute;
    width: 130px;
    height: 130px;
    border-radius: 65px;
    top: 67px;
    left: 300px;
    background-color: #227af7;
  }
  .core_caijifont {
  	z-index: 1000;
    position: absolute;
    top: 35px;
    left: 11px;
    text-align: center;
  }
	.coretech_zengqiangimg {
		position: relative;
		width: 258px;
		margin: 0 auto;
		height: 245px;
		background-image: url(rengongzhineng768.png);
	  background-size: cover;
	  background-position: center;
	}
	.coretech_zhinengimg {
		position: relative;
		width: 718px;
		margin: 0 auto;
		height: 364px;
		background-image: url(zhineng768.png);
	  background-size: cover;
	  background-position: center;
	}
	#coretech_partonefontwrap4dtrg {
		position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 45px;
    top: 93px;
    left: 83px;
    background-color: white;
	}
	#core_caijifontrg {
		position: absolute;
		top:108px;
		left:37px;
		z-index: 1000;
		text-decoration: none;
		color: black;
		width: 184px
	}
	.rengongfont{
		text-decoration: none;
    color: #01296d;
	}
	.rengongfont:hover{
		text-decoration: none;
    color: #01296d;
	}
	#core_caijifontrg:hover + #coretech_partonefontwrap4dtrg{
		position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 45px;
    top: 93px;
    left: 83px;
    background-color: #d3d3d3;
	}
	#coretech_partonefontwrap4dtkeshihua {
		position: absolute;
    width: 114px;
    height: 114px;
    border-radius: 57px;
		top:109px;
		left: 300px;
		background-color: #227af7;
	}
	#core_caijifontke {
		z-index: 1000;
	  position: absolute;
	  top: 136px;
	  left: 311px;
	  text-align: center;
	}
	.core_caijifontdatakeshihua {
		text-decoration: none;
		color: white;
		font-size: 28px
	}
	#core_caijifontke:hover + #coretech_partonefontwrap4dtkeshihua{
		position: absolute;
		width: 114px;
    height: 114px;
    border-radius: 57px;
		top:109px;
		left: 300px;
		background-color: #1a60c3;
	}
	.zhiguanjiemianwrap {
		position: absolute;
		top:32px;
		left:64px;
		letter-spacing: 2px
	}
	.lingguobianjiewrap {
		position: absolute;
		bottom:70px;
		letter-spacing: 2px;
		left: 16px
	}
	.quanfangmianwrap {
		position: absolute;
		bottom: 127px;
		letter-spacing: 2px;
		right: 15px;
		width: 120px
	}

	.shujucaijiwrap {
		position: absolute;
		top:39px;
		left:100px;
	}
	.shangyejiazhiwrap {
		position: absolute;
		top:144px;
		left: -31px
	}
	.zhinengyinqinwrap {
		position: absolute;
		top:144px;
		right: -27px
	}
	.ziranyuyanwrap {
		position: absolute;
		bottom: -40px;
		left: 88px
	}
	.neiwangwrap {
		position: absolute;
		width: 193px;
		top: 93px;
	}
	.waiwangwrap {
		position: absolute;
		width: 193px;
		top: 44px;
		right: 0
	}
	.disanfangwrap {
		position: absolute;
		width: 193px;
		right: 25px;
		bottom: 0
	}
	.footerfont {
		text-align: left;
	}
	.img2{ 
		height: 17px;
		margin-top:10px;
	}
  .img1,.img3,.img4{ 
  	display:none; 
  }
  .img7 {
  	height: 88px;
  }
  .img5,.img6,.img8 {
  	display: none;
  }
  .logoimg3 {
  	height: 22px
  }
  .logoimg1,.logoimg2, .logoimg4{
  	display: none
  }
  .padlogomarigin {
  	margin-top: 2px
  }
  footer {
		background-color: #001431;
		color: rgba(255,255,255,0.5);
		padding-top: 30px
	}
}
@media screen and (min-width: 320px) and (max-width: 767px) {
	.shoujikoubeimarginbottom {
		margin-bottom: 25px
	}
	.shoujimarginbottom {
		margin-bottom: 45px !important
	}
	.hangyebigfont {
		font-size: 12px
	}
	.hanyyeyuanwrap {
		width: 74px;
    height: 74px;
    border-radius: 37px;
    background-color: white;
    margin: 0 auto;
    margin-bottom: 30px;
	}
	.companyimgindex {
		height: 40px;
		margin-bottom: 10px
	}
	.shoujimargin {
		margin-top: 80px;
		margin-bottom: 60px
	}
	.paraleftmargin {
		padding-left: 40px;
		width: 90%
	}
	.btnwrap {
		position: absolute;
    right: 55px;
    bottom: -24px;
    width: 85%;
    background-color: #227af7;
    border: 1px solid #227af7;
    height: 45px;
    text-align: center;
    color: white;
	}
	.btnwrap2 {
		position: absolute;
    right: 55px;
    bottom: -48px;
    width: 85%;
    background-color: #227af7;
    border: 1px solid #227af7;
    height: 86px;
    text-align: center;
    color: white;
	}
	.borderrightnone {
		border-right:none !important;
	}
	.mapwrap {
		padding-top: 5px;
    padding-bottom: 5px;
    background-color: #227af7;
    color: white;
    padding-left: 5px
	}
	.lineheigh {
		height: 80px;
		padding-top:10px;
	}
	.timelinepadding {
		padding-top: 10px
	}
	.shourightpadding {
		padding-top: 0 !important
	}
	.xiaochupadding {
		padding:0;
		margin: 0;
	}
	.shoujilast {
		width: 50%;
		margin: 0 auto;
		margin-left: 25%;
		margin-top: 8%
	}
	.shoujizhongjian {
		margin-top:8%;
	}
	.portparttwomargin {
		margin-top: 30px
	}
	.portwrap {
		border: 1px solid #227af7;
	}
	.portnamewrap {
		background-color: #227af7;
		padding-bottom: 10px;
		padding-top: 10px
	}
	.guanliimg {
		height: 161px
	}
	.hezuohuobanimg {
		height: 35px
	}
	.circle {
		width: 36px;
		height: 36px;
		border-radius: 18px;
		background-color: yellow
	}
	.timelinewrap {
		width: 100%;
		margin: 0 auto
	}
	/*.btnwrap {
		position: absolute;
    right: 54px;
    bottom: -27px;
    width: 78%;
    background-color: #227af7;
    border: 1px solid #227af7;
    height: 45px;
    text-align: center;
    color: white;
	}*/
	.kuhuliucunbgwrap {
		background-image: url(kebubg1.jpg);
	  background-size: cover;
		background-color: #0a3b7f;
	  background-position: center;
	  height: 170px;
	  width: 90%;
	  margin: 0 auto
	}
	.kuhuliucunbgrightwrap {
		background-image: url(kebubg1.jpg);
	  background-size: cover;
		background-color: #0a3b7f;
	  background-position: center;
	  height: 200px;
	  margin-bottom: 60px;
	  width: 90%;
	  margin: 0 auto
	}
	.quanqiubigfont {
		font-size: 14px
	}
	.strbigfont {
		font-size: 26px;
		margin-bottom: 22px
	}
	.kaishibtn {
		font-size: 10px
	}
	.trybtn {
		text-decoration: none;
	  text-align: center;
	  background-color: rgba(0,0,0,0);
	  color: white;
	  width: 74px;
	  height: 16px;
	  border: 1px solid white;
	  margin: 0 auto;
	}

	.h3marin {
		margin-top: 1px
	}
	.contentwrap {
		padding-top: 50px;
		padding-bottom: 60px
	}
	.contentbottom {
		padding-bottom: 60px
	}
	.contentwrapteshu {
		padding-top: 50px;
		padding-bottom: 100px
	}
	.qiangdabigfont {
		font-size: 16px
	}
	.titlemarginbottom {
	  margin-bottom: 40px;
	  margin-top: 14px;
	}
	.zhenghebigfont {
		font-size: 10px
	}
	.shujujierubigfont {
		font-size: 12px
	}
	.neiwangbigfont {
		font-size: 10px
	}
	.dianzibigfont {
		font-size: 8px
	}
	.shujucaijibigfont {
		font-size: 10px
	}
	.rengongzhinengbigfont {
		font-size: 12px
	}
	.zhiguanjiemianbigfont {
		font-size: 8px
	}
	.keshihuajiemianbigfont {
		font-size: 12px
	}
	.gongsijianjiebigfont {
		font-size: 10px
	}
	.coretech_sectionone {
		background-image: url(coretechbanner320.jpg);
	  background-size: cover;
		background-color: #004dc6;
	  background-position: center;
		height: 480px;
	  width: 100%;
	}
	.coretechmargin {
		margin-top: 168px
	}
	.coretech_sectionthree {
		//background-image: url(coretechmodele3bg320.jpg);
	  background-size: cover;
		background-color: #183da7;
	  background-position: center;
		height: 340px;
	  width: 100%;
	}
	.coretech_dataimg {
		width: 190px;
		margin: 0 auto;
		height: 201px;
		background-image: url(qiangdadeshuju320.png);
	  background-size: cover;
	  background-position: center;
	}
	.shujujierubuttonwrap {
	  position: absolute;
    width: 68px;
    height: 68px;
    border-radius: 34px;
    top: 58px;
    left: 42.7%;
    background-color: #227af7;
  }
  .core_caijifont {
  	z-index: 1000;
    position: absolute;
    top: 6px;
    left: 3px;
    text-align: center;
    letter-spacing: 2px;
    //width: 138px;
  }
	.coretech_zengqiangimg {
		position: relative;
		width: 192px;
		margin: 0 auto;
		height: 191px;
		background-image: url(rengongzhineng320.png);
	  background-size: cover;
	  background-position: center;
	}
	.coretech_zhinengimg {
		position: relative;
		width: 279px;
		margin: 0 auto;
		height: 162px;
		background-image: url(zhineng320.png);
	  background-size: cover;
	  background-position: center;
	}
	#coretech_partonefontwrap4dtrg {
		position: absolute;
    width: 66px;
    height: 66px;
    border-radius: 33px;
    top: 69px;
    left: 61px;
    background-color: white;
	}
	#core_caijifontrg {
		position: absolute;
		top:76px;
		left:2px;
		z-index: 1000;
		text-decoration: none;
		color: black;
		width: 184px
	}
	.rengongfont{
		text-decoration: none;
    color: #01296d;
	}
	.rengongfont:hover{
		text-decoration: none;
    color: #01296d;
	}
	#core_caijifontrg:hover + #coretech_partonefontwrap4dtrg{
		position: absolute;
    width: 66px;
    height: 66px;
    border-radius: 33px;
    top: 69px;
    left: 61px;
    background-color: #d3d3d3;
	}

	#coretech_partonefontwrap4dtkeshihua {
		position: absolute;
    width: 74px;
    height: 74px;
    border-radius: 37px;
		top:32px;
		left:103px;
		background-color: #227af7;
	}
	#core_caijifontke {
		z-index: 1000;
	  position: absolute;
	  top: 44px;
	  left: 110px;
	  text-align: center;
	}
	.core_caijifontdatakeshihua {
		text-decoration: none;
		color: white;
		font-size: 28px
	}
	#core_caijifontke:hover + #coretech_partonefontwrap4dtkeshihua{
		position: absolute;
		width: 74px;
    height: 74px;
    border-radius: 37px;
		top:32px;
		left:103px;
		background-color: #1a60c3;
	}
	.zhiguanjiemianwrap {
		position: absolute;
		top:21px;
		left:-7px;
	}
	.lingguobianjiewrap {
		position: absolute;
		bottom:43px;
		width: 70px;
		left: -6px
	}
	.quanfangmianwrap {
		position: absolute;
		bottom: 94px;
		right: -29px;
		width: 94px
	}
	.shujucaijiwrap {
		position: absolute;
		top:25px;
		left:70px;
	}
	.shangyejiazhiwrap {
		position: absolute;
		top:103px;
		left: -38px
	}
	.zhinengyinqinwrap {
		position: absolute;
		top:103px;
		right: -38px
	}
	.ziranyuyanwrap {
		position: absolute;
		bottom: -34px;
		left:58px
	}
	.neiwangwrap {
		position: absolute;
		width: 38%;
		top: 112px;
	}
	.waiwangwrap {
		position: absolute;
		width: 23%;
		top: 10px;
		right: 0
	}
	.disanfangwrap {
		position: absolute;
		width: 37%;
		right: -7px;
		bottom: -44px
	}
	.shoujifont {
		text-align: left !important;
	}
	.footerfont {
		text-align: center;
	}
	.navfont {
		text-align: left;
	}
	.is-drilldown {
		position: absolute;
    background: #045ec8;
    min-height: 430px;
    width: 100%;
    left:-2px;
    //max-width: 320px;
	}
	/*.shoujifontsize {
		font-size: 10px
	}*/
	/*.shoujifontsize1 {
		font-size: 14px
	}*/
	.phonewrap {
		width: 202px;
		margin: 0 auto;
	}
	.img3{ 
		height: 35px 
	}
  .img1,.img2,.img4{ 
  	display:none; 
  }
  .img8 {
  	height: 82px;
  	margin-bottom: 30px
  }
  .img5,.img6,.img7 {
  	display: none;
  }
  /*.logoimg4{
  	height: 16px
  }*/
  .logoimg1,.logoimg2, .logoimg3,.logoimg4 {
  	display: none
  }
  footer {
		background-color: #001431;
		color: rgba(255,255,255,0.5);
		padding-top: 30px
	}
	.guanyuwomenbigfont {
		font-size: 12px
	}
}
