@media screen and (min-width:1920px) {
	.newfooternew {
	padding-top: 10px;
	background-color: #001431;
	border-bottom: 1px solid white;
	height: 300px
	}
	.newfooternewwrap {
	position: relative;
	width: 1400px;
	margin: 0 auto;
	//border: 1px solid red;
	margin-top: 30px;
	margin-bottom: 5px;
	height: 244px
	}
	.newfooternewwrap1 {
	position: absolute;
	width: 12%;
	float: left;
	top:7px;
	border: 1px solid black
	}
	.newfooternewwrap2 {
	width: 15%;
	position: absolute;
	//border: 1px solid black;
	right: 70%
	}
	.newfooternewwrap3 {
	width: 40%;
	position: absolute;
	//border: 1px solid black;
	right: 30%;
	font-size: white
	}
	.newfooternewwrap4 {
	position: absolute;
	width: 10%;
	//border: 1px solid black;
	right: 15%
	}
	.newfooternewwrap5 {
	position: absolute;
	width: 10%;
	right: 0;
	//border: 1px solid black
	}
	.newfooterimg{
	width: 100%
	}
	.newguanyuwomen{
	font-size: 24px;
	margin-bottom: 25px;
	color: white
	}
	.newrestfont{
	font-size: 16px;
	margin-bottom: 5px;
	color: rgba(255,255,255,0.5)
	}
}
@media screen and (min-width: 1366px) and (max-width: 1919px) {
	.newfooternew {
	padding-top: 10px;
	background-color: #001431;
	border-bottom: 1px solid white;
	height: 256px;
	}
	.newfooternewwrap {
	position: relative;
	width: 1000px;
	margin: 0 auto;
	border: 1px solid red;
	margin-top: 30px;
	margin-bottom: 5px;
	height: 216px
	}
	.newfooternewwrap1 {
	position: absolute;
	width: 12%;
	float: left;
	top:7px;
	//border: 1px solid black
	}
	.newfooternewwrap2 {
	width: 15%;
	position: absolute;
	//border: 1px solid black;
	right: 70%
	}
	.newfooternewwrap3 {
	width: 40%;
	position: absolute;
	//border: 1px solid black;
	right: 30%;
	font-size: white
	}
	.newfooternewwrap4 {
	position: absolute;
	width: 10%;
	//border: 1px solid black;
	right: 15%
	}
	.newfooternewwrap5 {
	position: absolute;
	width: 10%;
	right: 0;
	//border: 1px solid black
	}
	.newfooterimg{
	width: 100%
	}
	.newguanyuwomen{
	font-size: 24px;
	margin-bottom: 25px;
	color: white
	}
	.newrestfont{
	font-size: 16px;
	margin-bottom: 5px;
	color: rgba(255,255,255,0.5)
	}
}
@media screen and (min-width: 768px) and (max-width: 1365px) {
	.newfooternew {
	padding-top: 10px;
	background-color: #001431;
	border-bottom: 1px solid white;
	height: 198px
	}
	.newfooternewwrap {
	position: relative;
	width: 560px;
	margin: 0 auto;
	border: 1px solid red;
	margin-top: 30px;
	margin-bottom: 5px;
	height: 158px
	}
	.newfooternewwrap1 {
	position: absolute;
	width: 12%;
	float: left;
	top:7px;
	//border: 1px solid black
	}
	.newfooternewwrap2 {
	width: 15%;
	position: absolute;
	//border: 1px solid black;
	right: 70%
	}
	.newfooternewwrap3 {
	width: 40%;
	position: absolute;
	//border: 1px solid black;
	right: 30%;
	font-size: white
	}
	.newfooternewwrap4 {
	position: absolute;
	width: 10%;
	//border: 1px solid black;
	right: 15%
	}
	.newfooternewwrap5 {
	position: absolute;
	width: 10%;
	right: 0;
	//border: 1px solid black
	}
	.newfooterimg{
	width: 100%
	}
	.newguanyuwomen{
	font-size: 14px;
	margin-bottom: 25px;
	color: white
	}
	.newrestfont{
	font-size: 12px;
	margin-bottom: 5px;
	color: rgba(255,255,255,0.5)
	}
}
@media screen and (min-width: 320px) and (max-width: 767px) {
	.newfooternew {
	padding-top: 10px;
	background-color: #001431;
	border-bottom: 1px solid white;
	//height: 
	}
	.newfooternewwrap {
	position: relative;
	width: 280px;
	margin: 0 auto;
	//border: 1px solid red;
	margin-top: 30px;
	margin-bottom: 5px;
	height: 200px
	}
	.newfooternewwrap1 {
	position: absolute;
	width: 12%;
	float: left;
	top:7px;
	//border: 1px solid black
	}
	.newfooternewwrap2 {
	width: 15%;
	position: absolute;
	//border: 1px solid black;
	right: 70%
	}
	.newfooternewwrap3 {
	width: 40%;
	position: absolute;
	//border: 1px solid black;
	right: 30%;
	font-size: white
	}
	.newfooternewwrap4 {
	position: absolute;
	width: 10%;
	//border: 1px solid black;
	right: 15%
	}
	.newfooternewwrap5 {
	position: absolute;
	width: 10%;
	right: 0;
	//border: 1px solid black
	}
	.newfooterimg{
	width: 100%
	}
	.newguanyuwomen{
	font-size: 18px;
	margin-bottom: 25px;
	color: white
	}
	.newrestfont{
	font-size: 16px;
	margin-bottom: 5px;
	color: rgba(255,255,255,0.5)
	}
}