.keshihuaheader{
	background-image: url(keshihuabg.jpg);
	background-size: cover;
	background-color: #10309a;
	background-position: center;
	height: 1000px;
	//border: 1px solid red
}
.keshihua_partonefont1 {
	text-align: center;
	font-size: 36px;
	margin-top: 100px;
	margin-bottom: 60px
}
.keshihua_partoneimgWrap {
	width: 840px;
	margin: 0 auto;
	//border: 1px solid red;
	height: 167px;
	margin-bottom: 100px
}
.keshihua_partoneimgWrap1 {
	width: 16%;
	float: left;
	//border: 1px solid black;
	font-size: 22px;
	text-align: center;
	margin-right:5%;
}
.keshihua_partoneimgWrap5 {
	width: 16%;
	float: right;
	//border: 1px solid black;
	font-size: 22px;
	text-align: center;
}
.keshihua_parttwo {
	background-color: #f8fafc;
}
.keshihua_parttwofont1 {
	text-align: center;
	font-size: 36px;
	padding-top: 100px
}
.keshihua_parttwoimgwrap {
	width: 840px;
	margin: 0 auto;
	//border: 1px solid red;
	height: 350px;
	margin-top: 80px;
	padding-bottom: 100px
}
.keshihua_parttwoimgwrap1 {
	width: 30%;
	float: left;
	box-shadow: 0 15px 30px 0 rgba(26,52,45,.1);
	margin-right: 5%;
	background-color: white;
	height: 350px
}
.keshihua_parttwoimgwrap2 {
	width: 30%;
	float: left;
	box-shadow: 0 15px 30px 0 rgba(26,52,45,.1);
	background-color: white;
	height: 350px
}
.keshihua_parttwoimgwrap3 {
	width: 30%;
	float: right;
	box-shadow: 0 15px 30px 0 rgba(26,52,45,.1);
	background-color: white;
	height: 350px
}
.keshihua_parttwoimgwrap1font {
	width: 90%;
	margin: 0 auto;
	text-align: left;
	font-size: 22px
}
.keshihua_parttwoimgwrap1ling {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 40px
}
.keshihua_parythreefont {
	text-align: center;
	font-size: 36px;
	margin-top: 100px;
	margin-bottom: 80px
}
.keshihua_parythreeimgwrap {
	width: 840px;
	margin: 0 auto;
	//border: 1px solid red;
	height: 300px;
	margin-bottom: 60px
}
.keshihua_parythreeimgwrap1 {
	width: 30%;
	float: left;
	margin: 0 auto;
	//border: 1px solid black;
	margin-right: 5%;
	height: 300px;
}
.keshihua_parythreeimgwrap2 {
	width: 30%;
	float: left;
	margin: 0 auto;
	//border: 1px solid black;
	height: 300px;
}
.keshihua_parythreeimgwrap3 {
	width: 30%;
	float: right;
	margin: 0 auto;
	//border: 1px solid black;
	height: 300px;
}
.keshihua_parythreeimgwrap1jiandan {
	width: 90%;
	margin: 0 auto;
	font-size: 22px;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px
}
.keshihua_parythreeimgwrap1caiyong {
	width: 90%;
	margin: 0 auto;
	font-size: 16px;
	text-align: left;
}
.keshihua_parythreeimgwrap1dongcha {
	text-align: center;
}
.keshihua_parythreeimgwrapanother {
	width: 600px;
	margin: 0 auto;
	//border: 1px solid red;
	padding-bottom: 100px
}
.keshihua_parythreeimgwrapanother1 {
	width: 227px;
	margin: 0 auto;
	float: left;
	//border: 1px solid black;
	margin-right: 43px
}
.keshihua_parythreeimgwrapanother2 {
	width: 227px;
	margin: 0 auto;
	float: right;
	//border: 1px solid black
}
