*{margin:0;padding:0};
img{border:none}
@font-face {
	font-family: "SourceHanSansSC";
	src: url('../utils/SourceHanSansSC-Regular.otf');
}
@font-face {
  	font-family: "OpenSans";
	src: url('../utils/OpenSans-Regular.ttf');    
}
@font-face {
	font-family: "ProductSans";
	src: url('../utils/ProductSans-Regular.ttf');    
}		
body {
	font-family: "OpenSans","SourceHanSansSC",Arial,Heiti SC,MS Hei,'黑体';
}
.stratifydfont{
	font-family: "ProductSans",Arical,Helvetica Neue,PingFang SC;
}
.wholePage{
	width: 100%
}
.header{
	background-image: url(backgroud.jpg);
	background-size: cover;
	background-color: #041559;
	width: 100%;
	height: 100%;
	background-position: center;
}
.headerContent{
	height:877px;
	width: 100%;
	margin:0 auto;
}
.footer{
	background-color: #227af7;
	border : 1px solid #227af7;
	//height : 300px;
	width: 100%
}
.img{
	width: 100%
}

.companame{
	color: white;
}
.companame{
	height: 50px
}
.companame{
	margin-top: 10px;
	text-align: center;
	color: rgba(255,255,255,0.5);
	font-size: 14px;
}
.aboutusleft{
	float: left;
	width: 30%
}
.aboutusright{
	float: right;
	width: 70%;
	margin-left:20%;
}
.clear{
	clear: both;
}
.footerleftfont{
	position: absolute;
	left: 40%
}
.footerrightfont{
	position: absolute;
	left: 60%
}

.stratifydfont, .platformfont{
	color: white;
	text-align: center;
}
.stratifydfont{
	padding-top: 174px;
	padding-bottom: 48px;
	text-align: center;
	font-size: 70px;
}
.platformfont{
	font-size: 40px;
	padding-bottom: 58px;
}
.startButton{
	text-align: center;
	color: white;
	font-size: 30px;
	width: 240px;
	height: 43px;
	border: 1px solid #00387e;
	margin: 0 auto;
	background-color: #00387e;

}
.webNav {
	height: 31px;
	/*width: 100%;*/
	width: 840px;
	margin: 0 auto;
	//text-align: center;
	padding-top:24px;
}
#nav {
	position: absolute;
	top:24px;
	height: 81px;
	margin-left: 180px
}
.logo{
	position: absolute;
	top:24px;
	color: white
}

#nav ul {   
	width:100%;
	height：81px; 
	list-style:none;
	color: white;
	margin: 0 auto;
	padding:0;

}
#nav li {
	float:left;
	text-align: center;
	font-size: 16px;
	color: white;
	padding-right: 120px
}

.anotherbutton {
	position: relative;
	width: 240px;
	height: 43px;
	border: 1px solid #227af7;
	background-color: #227af7;
	top:-25px;
	right: -15px;
	z-index: -6

}
.companyinfo{
	width: 80%;
	height: 245px;
	margin: 0 auto;
	//border-bottom: 0.5px solid white;
	overflow:hidden; 
}
.pic{
	float: left;
	width: 25%;
	margin-left:5%;
}
/*.aboutus{
	height: 326px;
	margin-left: 14%
}*/
.aboutus{
	margin-top: 25px;
	color: white;
	float: left;
	width: 20%;
	margin-left: 7%

}
.contactus{
	margin-top: 25px;
	color: white;
	float: right;
	width: 40%;
	//border: 1px solid red
}
.guanyuwomen{
	font-size: 18px;
	margin-bottom: 25px;
	color: white
}
.restfont{
	font-size: 16px;
	margin-bottom: 5px;
	color: rgba(255,255,255,0.5)
}
.navlogo{
	width: 20%;
	float: left;
	color: white;
	text-decoration:none;
 	font-size: 20px;
 	//border: 1px solid red;

}
.navlogo1{
	text-align: center;

}
/*.conlogo {
	margin-right: 6%
}*/

.webNav  a {
	line-height: 40px;
	color:white;
 	text-decoration:none;
 	font-size: 20px
}

.webNav a:hover {
display:block; 
color:#FFFFFF; 
//background:#227af7;
}
.iconimgwrap{
	width: 100%;
	margin-left: -10%;
	background-color: #227af7;
	position: relative;
	margin-top: 25px
}
.iconimg{
	width: 30%;

}

.nameimg {
	width: 40%;
	position: relative;
	top:-20px;

}
#companyimg{
	width: 100%;
	position: relative;
    top: 4px;
}
.clientTrustFont{
	text-align: center;
	font-size: 40px;
	margin-bottom: 108px
}

.clientTrustLogoGroup{
	width: 100%;
	margin: 0 auto;
}
.clientTrustLogoGroupFirst{
	//border: 1px solid black
}
.clientTrustLogoGroupFirstWrap{
	float: left;
	text-align: center;
	width: 14%;
	
}
.clientTrustLogoGroupFirstimg{
	//width: 100%;
	height: 75px;
	text-align: center;
}
.firstBorder{
	border: 1px solid #d2d2d2;
	border-left-style: none;
	border-top-style: none

}
.thirdBorder{
	border-bottom-style: none;
	border: 1px solid #d2d2d2;
	border-left-style: none;
	border-top-style: none;
	border-bottom-style: none
}
.lastBorder{
	border-right-style: none
}
.clientTrustContent{
	padding-top: 111px;
	padding-bottom: 163px;
	width: 100%;
	margin: 0 auto
}
.infoFont{
	margin: 0 auto;
	width: 80%;
	font-size: 24px;
	line-height: 32px
}
.mainButton{
	text-decoration:none;
	text-align: center;
	color: white;
	font-size: 30px;
	width: 240px;
	height: 43px;
	border: 1px solid #00387e;
	margin: 0 auto;
	background-color: #00387e;
}
.clientRate{

}
.clientValue{
	text-align: center;
	font-size: 36px;
	margin-top: 110px;
	margin-bottom: 60px
}
.tableValue{
	width: 80%;
	margin: 0 auto
}
.clientLogo{
	width: 100%;
}
.clientLogoLeft{
	float: left;
	width: 30%;
	margin-left: 15%;
	height: 790px
}
.clientLogoRight{
	float: left;
	width: 30%;
	margin-left: 10%
}
.intuitWrap{
	height: 214px;
	margin-bottom: 40px
}
.intuitfont{
	font-size: 18px;
	line-height: 30px;
	color: #000000
}
.companyimg{
	height: 37px;
	//width: 50%
}
.intuitlogo{
	text-align: center;
	margin-bottom: 20px
}
.dataAbilityFont{
	margin-top:110px;
	margin-bottom: 70px;
	text-align: center;
	font-size: 36px
}
.newimg{
	width: 60%
}
.newimgwrapdiv{
	float: left;
	width: 25%;
	text-align: center;
	margin-bottom: 70px
}
.visialInterface{
	background-color: red
}
.visialInterfaceFont{
	text-align: center;
	font-size: 36px;
	color: white;
	background-color: #183da7;
	padding-top: 110px;
	padding-bottom: 60px
}
.index_imgwrapwhole{
	width: 100%;
}
.index_imgwrapone{
	width: 100%;
	margin: 0 auto
}
.kuhucunliuWrap1{
	background-image: url(kehubg.jpg);
	background-size: cover;
	float: left;
	width: 34%;
	margin-left: 19%;	
	background-position: center;
}
.kuhucunliuWrap{
	float: left;
	width: 34%;
	margin-left: 19%
}
.kehuzhijianWrap{
	float: left;
	width: 34%;
	margin-left: 2%
}
.kehucunliuimg{
	width: 80%
}
.index_imgwraptwo{
	margin-top: 60px;
}
.tanpin{
	display: none
}
.hangyewrap{
	padding-bottom: 20px
}
#tanpin{
	position: absolute;
	top:0;
	right: 0
}
.whatwrap{
	width: 82%;
	margin:0 auto;
	background-color: #183da7;
	padding-bottom: 120px;
}
.whatfont{
	float: left;
	text-align: center;
	font-size: 22px;
	width: 33%;
	color:white;
}
.borderwrap{
	background-color: #227af7;
	border: 1px solid #227af7;
	//width: 200px;
	height: 50px;
	text-align: center;
	color: white;
	/*padding-top: 20px;
	margin-top: -12%;
	margin-left: -5%;
	margin-bottom: 5%*/
}

.borderwraplast{
	background-color: #227af7;
	border: 1px solid #227af7;
	width: 75%;
	height: 50px;
	text-align: center;
	color: white;
	padding-top: 20px;
	margin-bottom: 92px;
	margin-top: -12%;
	margin-left: -5%
}
.anotherimgwrap{
	width: 72%;
	margin-top: 3%
}
.weiwrap{
	float: left;
	width: 43%
}
.nowrap{
	float: right;
	width: 43%
}
.weichatimg{
	width: 100%;
}
.weiboimg{
	width: 100%;
}
.xinlangimg{
	width: 100%
}
.footerimg{
	width: 100%
}
.anotherlink1{
	text-decoration: none;
	color: white;
	font-size: 22px
}


.footernew {
	padding-top: 10px;
	background-color: #001431;
	//height: 250px;
	border-bottom: 1px solid white
}
.footernewwrap {
	position: relative;
	width: 840px;
	margin: 0 auto;
	//border: 1px solid red;
	margin-top: 30px;
	margin-bottom: 5px;
	height: 220px
}
.footernewwrap1 {
	position: absolute;
	width: 16%;
	float: left;
	top:2px;
	//border: 1px solid black
}
.footernewwrap2 {
	width: 14%;
	position: absolute;
	//border: 1px solid black;
	right: 67%
}
.footernewwrap3 {
	width: 47%;
	position: absolute;
	//border: 1px solid black;
	right: 23%;
	font-size: white
}
.footernewwrap4 {
	position: absolute;
	width: 10%;
	//border: 1px solid black;
	right: 11%
}
.footernewwrap5 {
	position: absolute;
	width: 10%;
	right: 0;
	//border: 1px solid black
}
.xinpic {
	height: 66px;
	//width: 100%
}
.footernewwrapanother {
	border-top: 1px solid rgba(255,255,255,0.4);
	background-color: #001431;
}
.shouyeimgwrap22 {
	width: 60%;
	margin: 0 auto;
}
.shouyeimgwrap1 {
	position: relative;
	width: 60%;
	margin: 0 auto;
	height: 270px;
	margin-bottom: 60px
}
.shouyeimgwrap1new {
	position: relative;
	width: 60%;
	margin: 0 auto;
	height: 270px;
	//padding-bottom: 15%
}
.shouyeimgwrapnew2 {
	position: relative;
	width: 60%;
	margin: 0 auto;
	height: 270px;
	margin-bottom: 15%
}

.shouyeimgwrap1img {
	position: absolute;
	width: 45%;
	height: 240px;
	background-image: url(kehubg1.jpg);
	background-size: cover;
	background-color: #456694;
	background-position: center;
	background-color: #0a3b7f
}
.shouyeimgwrap1img2 {
	position: absolute;
	width: 45%;
	right: 0px;
	height: 240px;
	background-image: url(kehubg2.jpg);
	background-size: cover;
	background-color: #264879;
	background-position: center;
	background-color: #0a3b7f
} 
.shouyeimgwrap1img3 {
	position: absolute;
	width: 45%;
	height: 240px;
	background-image: url(kehubg.jpg);
	background-size: cover;
	background-color: #284f88;
	background-position: center;
	background-color: #0a3b7f


}
.shouyeimgwrap1img4 {
	position: absolute;
	width: 45%;
	right: 0px;
	height: 240px;
	background-image: url(kehubg4.jpg);
	background-size: cover;
	background-color: #0e4288;	
	background-position: center;
	background-color: #0a3b7f


}
.shouyekehuliucun {
	width: 220px;
	height: 160px;
	margin: 0 auto;
	text-align: center;
	margin-top: 64px;
}
.shouyekehuliucun2 {
	width: 220px;
	height: 160px;
	margin: 0 auto;
	text-align: center;
	margin-top: 64px;
}
.shouyeimgwrap1btn {
	position: absolute;
	left: -3%;
	bottom:0;
	width: 45%;
	background-color: #227af7;
	border: 1px solid #227af7;
	height: 60px;
	text-align: center;
	color: white;
}

.shouyeimgwrap1btn2 {
	position: absolute;
	width: 45%;
	right: 3%;
	bottom: 0;
	background-color: #227af7;
	border: 1px solid #227af7;
	height: 60px;
	text-align: center;
	color: white;
	/*bottom: -255px;
    left: -20px;*/
}

.dataAbility {
	height: 860px;
	//margin-bottom: 40px
}

.shouyekehuliucun3 {
	width: 50%;
	margin: 0 auto;
	text-align: center;
	margin-top: 60px;
	margin-bottom: 115px
}



.shouyeimgwrap1btnfont {
	margin-top: 12px
}
.kehuimg {
	height: 70px;
	//width: 50%
}
.kehuimgananother {
	height: 48px
}
.shouyekehuliucunanother{
	width: 220px;
    height: 160px;
    margin: 0 auto;
    text-align: center;
    margin-top: 80px;
}






.coretechheader{
	background-image: url(coretechbg.jpg);
	background-size: cover;
	background-color: #004dc6;
	background-position: center;
}

.coretechstartButton{
	text-decoration:none;
	text-align: center;
	color: white;
	font-size: 30px;
	width: 240px;
	height: 47px;
	border: 1px solid white;
	margin: 0 auto;

}
.coretechmainButton{
	text-decoration:none;
	text-align: center;
	color: white;
	font-size: 30px;
	width: 240px;
	height: 43px;
	margin: 0 auto;
}
.coretech_font{
	font-size: 36px;
	text-align: center;
	margin-top: 90px;
}
.coretechimgwrap{
	margin-top: 90px;
	padding-bottom: 50px
}
.coretechimg{
	width: 100%
}
.zhinengweidu{
	background-color: #227af7;
}
.coretech_zhinengfont{
	font-size: 36px;
	text-align: center;
	padding-top: 92px;
	color: white

}
.coretech_rengongfont{
	font-size: 36px;
	text-align: center;
	margin-top: 92px
}
.rengongzhimengimgWrap{
	width: 100%;
	margin-top: 92px;
	margin-bottom: 92px
}
.rengongzhinengpicone{
	float: left;
	width: 20%;
	margin-left: 15%;
}
.rengongzhinengpictwo{
	float: left;
	width: 20%
}
.rengongzhinengpicthree{
	float: left;
	width: 20%
}
.rengongzhinengpicfour{
	float: left;
	width: 20%
}
.rengongimg{
	width: 80%
}
.fenxijiegou{
	margin-top: -5px;
	text-align: center;
	background: #227af7;
	border:1px solid #227af7;
	width: 79%;
	color:white;
	height: 60px;
	font-size: 22px;
	line-height: 22px;
}
.fenxijiegoufont{
	margin-top: 18px;
	font-size: 20px
}
.core_dongwrap{
	width: 82%;
	margin: 0 auto;
	margin-left: 20%
}
.core_dongone{
	float: left;
	width: 33%;
	color: white;
	font-size: 22px
}
.core_dongtwo{
	float: left;
	width: 33%;
	color: white;
	font-size: 22px
}
.core_dongthree{
	float: left;
	width: 33%;
	color: white;
	font-size: 22px
}



.tab-h2 {
	font-size:28px;
	}
	.tab-p {
	font-size: 17px;
	}
	.coretech_header{
	background: url(banner1366.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:0px;
	padding-bottom:100%;
	background-position: center;
	background-color: #0460cb
	}
	.font1920 {
		font-size: 24px;
		color: white !important;
		margin-top: 3%
	}
	.corestratifydfont{
		font-size: 90px;
		color: white;
		text-align: center;
		margin-top: 212px	
	}
	.corestratifydfontquanqiu{
		color: white;
		text-align: center;
	}
	.fontdefault {
		font-size:36px;
		margin-top: 28px
	}
	.coretechstartButtonWrap {
		text-decoration:none;
		text-align: center;
		font-size: 30px;
		width: 240px;
		height: 50px;
		border: 2px solid white;
		margin: 0 auto;
		margin-top:58px;
	}
	.coretechmainShiyongButton {		
		color: white;	
	}
	/*.coretechstartButtonWrap a:hover {
		color: white;
		text-decoration:none;
	}*/
	.coretechmainShiyongButton {		
		color: white;	
	}
	.coretechstartButtonWrap a:hover {
		color: white;
		text-decoration:none;
	}
	.coretech_aboutus {
		color: white;
		font-size: 24px;
		line-height: 24px;
		margin-bottom: 30px
	}
	.coretech_rest {
		color: #8d9199;
		font-size: 16px;
		line-height: 16px;
		margin-bottom: 14px

	}
	.weichatimgphone{
	width: 100%
	}
	.core_data {
		text-align: center;
		font-size: 36px;
		margin-top: 110px;
		font-size: #5e5f5f
	}
	.core_datasource {
		text-align: center;
		font-size: 24px;
		color: #a6a7a9;
		margin-bottom: 60px
	}
	.core_pic {
		width: 33%;
		margin: 0 auto;
		text-align: center;
	}
	.core_neiwangwrap {
		position: absolute;
		top:60%;
		left: 6%;
		width: 33%
	}
	.core_neiwangfont {
		font-size: 24px;
		color: #414142;
		margin-bottom: 18px;
		line-height: 26px
	}
	.core_neiwangemail {
		font-size: 18px;
		color: #a6a7a9;
		line-height: 26px
	}

	.core_waiwangwrap {
		width: 33%;
		position: absolute;
		top:92%;
		right:-1%;
	}
	.core_waiwangfont {
		font-size: 24px;
		color: #414142;
		margin-bottom: 18px;
		line-height: 26px
	}
	.core_waiwangemail {
		font-size: 18px;
		color: #a6a7a9;
		line-height: 26px
	}
	.coretech_partone {
		position: relative;
		margin-bottom: 197px
	}
	.core_disanfangwrap {
		position: absolute;
		top:32%;
		right: 18%
	}
	.core_disanfangfont {
		font-size: 24px;
		color: #414142;
		margin-bottom: 18px;
		line-height: 26px
	}
	.core_disanfangemail {
		font-size: 18px;
		color: #a6a7a9;
		line-height: 20px
	}
	.core_caijinengluWrap {
		position: absolute;
		top:55%;
		left: 46%;
		width: 10%
	}
	.coretech_parttwo {
		background-image: url(module2bg.jpg);
		background-size: cover;
		//background: url(1366module2bg.png) no-repeat center center fixed;
		height: 840px;
		background-color: #062367;
		background-position: center;
	}
	.coretech_parttwofont {
		font-size: 36px;
		text-align: center;
		color: white;
		padding-top: 110px
	}

	.coretech_parttwoiconwrap{
		width: 473px;
		margin: 0 auto;
		//border: 1px solid white;
		position: relative;
		margin-top: 60px
	}
	.coretech_partthreeiconwrap {
		text-align: center;
		//width: 700px;
		width: 840px;
		margin: 0 auto;
		//border: 1px solid red;
		position: relative;
		margin-top: 60px;
		margin-bottom: 115px
	}
	.coretech_parttwofont1 {
		position: absolute;
		color: white;
		top:18%;
		left: 41%;
		font-size: 16px
	}
	.coretech_parttwofont2 {
		position: absolute;
		color: white;
		font-size: 16px;
		top: 58%;
    	left: -14px;
	}
	.coretech_parttwofont3 {
		position: absolute;
		color: white;
		font-size: 16px;
		top:58%;
		right: 7px
	}
	.coretech_parttwofont4 {
		position: absolute;
		color: white;
		font-size: 16px;
		left: 37%;
		bottom: -5%
	}
	.coretech_parttwofont5 {
		position: absolute;
		color:#01296d;
		font-size: 28px;
		top:46%;
		left: 36%;
		
	}
	.rengongfont {
		text-decoration: none;
		color: #01296d;
		font-size: 28px
	}

	.coretech_partthreefont {
		font-size: 36px;
		text-align: center;
		padding-top: 110px
	}
	.shujupic {
		//width: 100%;
		height: 335px
	}
	.mode3pic {
		position: relative;
    	height: 408px;
    	left: -10px;
	}
	.coretech_partthreefont1 {
		position: absolute;
		font-size: 22px;
		top:75px;
	}
	.coretech_partthreefont2 {
		position: absolute;
		font-size: 22px;
		top:284px;
		left:10px;
	}
	.coretech_partthreefont3 {
		text-align: left;
    	width: 179px;
    	position: absolute;
    	font-size: 22px;
    	top: 115px;
    	right: -44px;
	}
	.coretech_partthreefont4 {
		position: absolute;
    	top: 144px;
    	left: 361px;
    	font-size: 30px;
    	color: white;
    	text-align: center;
    	width: 119px;
	}
	.keshihuafont {
		color: white;
		text-decoration: none
	}
	.coretech_wrap {
		position: relative;
		width: 840px;
		margin: 0 auto;
		margin: 0 auto;
	}
	.coretech_partonefontwrap1 {
		position: absolute;
		top:175px;
		left:27px;
		width: 26%
	}
	.coretech_partonefontwrap2 {
		position: absolute;
		width: 22%;
		top:80px;
		right:0;
	}
	.coretech_partonefontwrap3 {
		position: absolute;
		width: 220px;
		bottom: -74px;
		right: 45px
	}
	.coretech_partonefontwrap4 {
		position: absolute;
		width: 220px;
		bottom: 390px;
		right: 447px
	}

	.coretech_img1 {
		text-align: center;
		width: 50%;
		margin: 0 auto;
	}

	.coretech_partthreeiconwrapimg1 {
		width: 100%;
		margin: 0 auto;
		//border: 1px solid black
	}
	.coretech_partthreefont4box {
		height: 20px;
		width: 117px;
	}
	#coretech_partonefontwrap4dt {
		position: absolute;
		width: 140px;
		height: 140px;
		border-radius: 70px;
		top:146px;
		left: 190px;
		background-color: #227af7;
		box-shadow: 0 15px 30px 0 rgba(34，122，247,0.6);
	}
	#core_caijifont {
		z-index: 1000;
		position: absolute;		
		top:178px;
		left: 194px;
		font-size: 30px;		
		text-align: center;
		width: 138px;
		color: white

	}
	.core_caijifontdata {
		text-decoration: none;
		color: white;
		font-size: 28px
	}
/*	#core_caijifont:hover + #coretech_partonefontwrap4dt{
		position: absolute;
		width: 140px;
		height: 140px;
		border-radius: 70px;
		top:146px;
		left: 190px;
		background-color : #1a60c3
	}*/
	#coretech_partonefontwrap4dtrg {
		position: absolute;
    	width: 150px;
    	height: 150px;
    	border-radius: 75px;
    	top: -48px;
    	left: -17px;
    	background-color: white;
	}
	#core_caijifontrg {
		position: absolute;
		top:10px;
		z-index: 1000;
		text-decoration: none;
		color: black;
		width: 184px
	}
	#core_caijifontrg:hover + #coretech_partonefontwrap4dtrg{
		position: absolute;
    	width: 150px;
    	height: 150px;
    	border-radius: 75px;
    	top: -48px;
    	left: -17px;
    	background-color: #d3d3d3;
	}
	#coretech_partonefontwrap4dtkeshihua {
		position: absolute;
    	width: 130px;
    	height: 130px;
    	border-radius: 65px;
		top:-23px;
		left: -18px;
		background-color: #227af7;
	}
	#core_caijifontke {
		z-index: 1000;
	    position: absolute;
	    top: 6px;
	    left: -9px;
	    text-align: center;
	    width: 108px;
	}
	.core_caijifontdatakeshihua {
		text-decoration: none;
		color: white;
		font-size: 28px
	}
/*	#core_caijifontke:hover + #coretech_partonefontwrap4dtkeshihua{
		position: absolute;
		width: 130px;
    	height: 130px;
    	border-radius: 65px;
		top:-23px;
		left: -18px;
		background-color: #1a60c3;
	}*/
.module2iconnewpic {
	height: 452px
}


.companyinfoheader{
	background-image: url(companyintro.jpg);
	background-size: cover;
	background-color: #0f51b2;
	background-position: center;
}
.gongsijianjie{
	width: 100%;
	margin: 0 auto;
	text-align: center;
	font-size: 36px;
	margin-bottom: 120px;
	margin-top: 110px;
}
.con_companycontent{
	padding-top: 60px;
	font-size: 18px;
	width: 80%;
	margin: 0 auto;
	line-height: 33px;
}
.jisufazhanintro{
	text-align: center;
	font-size: 36px;
	margin-bottom: 100px
}
.time{
	width: 100%
}
.timediv{
	margin-bottom: 90px
}
.gongsiguanliceng{
	background-color: #eeeeee;
	padding-top: 110px;
	padding-bottom: 130px
}
.gongsiguanlicenginfo{
	text-align: center;
	font-size: 36px;
	margin-bottom: 60px
}
.personWholeWrap{
	width: 70%;
	margin: 0 auto;
	//padding-bottom: 40px
}
.personWholeWraptwo{
	width: 53%;
	margin: 0 auto
}
.personWrap{
	float: left;
	width: 25%;
	margin: 0 auto;
}
.person {
	width: 80%
}
.personWrap2{
	float: left;
	width: 22%;
	margin: 0 auto;
	margin-right: 11%;
	text-align: center
}
.personWrap22 {
	padding-right: 12%;
    float: right;
    width: 22%;
    margin: 0 auto;
    text-align: center;
}
.person2{
	width: 124%
}
.hezuohuoban{
	margin-top: 110px;

}
.huzuohuobaninfo{
	text-align: center;
	font-size: 36px;
	margin-bottom: 60px
}
.clientTrustLogoGroupThird{
	padding-bottom: 120px;
	border-bottom-style:none;
}
.wordline{
	width: 100%;
	text-align: left;
	font-size: 20px;
	line-height: 36px
}
.cardborderWrap{
	width: 70%;
	margin: 0 auto;
	margin-bottom:4%;
}
.cardTwoborderWrap{
	width: 61%;
	margin: 0 auto;
}
.cardborder{
	//background-color: #227af7;
	color: white;
	float: left;
	width: 25%;
	margin: 0 auto;

}
.cardtwoborder{
	color: white;
	float: left;
	width: 33%;
	margin: 0 auto;
}
.cardtwoborder1{
	color: white;
	float: right;
	width: 33%;
	margin: 0 auto;
}
.cardFont{
	background-color: #227af7;
	width: 71%;
	margin-top:-4%;
	padding-left: 9%;
	//height: 56px;
	//text-align: center;
	font-size: 16px;
    padding-bottom: 2%;
    padding-top: 4%;
}
.cardFontSend{
	background-color: #227af7;
	width: 71%;
	margin-top:-2%;
	padding-left: 9%;
	//height: 56px;
	//text-align: center;
	font-size: 16px;
    padding-bottom: 4%;
    //padding-top: 7%;
}
.cardTwoFont{
	background-color: #227af7;
	width: 61%;
	margin-top: -2%;
	font-size: 16px;
	//height: 70px;
	//text-align: center;
	padding-left: 9%;
	padding-bottom: 2%;
	padding-top: 4%;
}
.cardTwoFontSen{
	background-color: #227af7;
	width: 61%;
	margin-top: -2%;
	font-size: 16px;
	//height: 70px;
	//text-align: center;
	padding-left: 9%;
	padding-bottom: 3%
}



.timeline1 {
	width: 840px;
	margin:0 auto;
}
.timeline1font0 {
	width: 13%;
	float: left;
	margin-right: 5%
}
.timeline1font10 {
	/*position: absolute;
	top:114px;*/
	font-size: 18px;
}
.timeline1font101 {
	/*position: absolute;
	top:114px;*/
	font-size: 24px;
	color: #a47bfe
}
.timelinefontright1 {
	position: absolute;
	top:114px;
}
.timeline1font20 {
	/*position: absolute;
	top:232px;*/
	font-size: 18px;
}
.timeline1font201 {
	/*position: absolute;
	top:232px;
*/	font-size: 24px;
	color: #8b56ff
}
.timeline1font30 {
	/*position: absolute;
	top:350px;*/
	font-size: 18px;
}
.timeline1font301 {
	/*position: absolute;
	top:350px;*/
	font-size: 24px;
	color: #7d41ff
}
.timeline1font40 {
	/*position: absolute;
	top:468px;*/
	font-size: 18px;
}
.timeline1font401 {
	/*position: absolute;
	top:468px;*/
	font-size: 24px;
	color: #6120ec
}
.timeline1font50 {
	/*position: absolute;
	top:586px;*/
	font-size: 18px;
}
.timeline1font501 {
	/*position: absolute;
	top:586px;*/
	font-size: 24px;
	color: #4b4bdd
}

.timeline1font60 {
	/*position: absolute;
	top:697px;*/
	font-size: 18px;
}
.timeline1font601 {
	/*position: absolute;
	top:697px;*/
	font-size: 24px;
	color: #4b55dd
}
.timeline1font70 {
	/*position: absolute;
	top:807px;*/
	font-size: 18px;
}
.timeline1font701 {
	/*position: absolute;
	top:807px;*/
	font-size: 24px;
	color: #3f54e4
}
.timeline1font80 {
	/*position: absolute;
	top:920px;*/
	font-size: 18px;
}
.timeline1font801 {
	/*position: absolute;
	top:920px;*/
	font-size: 24px;
	color: #1a58e3
}

.timeline1font90 {
	/*position: absolute;
	top:1036px;*/
	font-size: 18px;
}
.timeline1font901 {
	/*position: absolute;
	top:1036px;*/
	font-size: 24px;
	color: #2361ed
}
.timeline1font100 {
	/*position: absolute;
	top:1150px;*/
	font-size: 18px;
}
.timeline1font1001 {
	/*position: absolute;
	top:1150px;*/
	font-size: 24px;
	color: #2e6ad3
}
.timeline1font110 {
	/*position: absolute;
	top:1267px;*/
	font-size: 18px;
}
.timeline1font1101 {
	/*position: absolute;
	top:1267px;*/
	font-size: 24px;
	color: #235dc2
}
.timeline1font120 {
	/*position: absolute;
	top:1387px;*/
	font-size: 18px;
}
.timeline1font1201 {
	/*position: absolute;
	top:1387px;*/
	font-size: 24px;
	color: #144baa
}
.timeline1font130 {
	/*position: absolute;
	top:1500px;*/
	font-size: 18px;
}
.timeline1font1301 {
	/*position: absolute;
	top:1500px;*/
	font-size: 24px;
	color: #104299
}
.timeline1font140 {
	/*position: absolute;
	top:1615px;*/
	font-size: 18px;
}
.timeline1font1401 {
	/*position: absolute;
	top:1615px;*/
	font-size: 24px;
	color: #0f3c8a
}
.timeline1font150 {
	/*position: absolute;
	top:1728px;*/
	font-size: 18px;
}
.timeline1font1501 {
	/*position: absolute;
	top:1728px;*/
	font-size: 24px;
	color: #0d3883
}
.timeline1font2 {
	//position: absolute;
	width: 10%;
	float: left;
}
.timeline1font3 {
	width: 70%;
	float: right
}

.timelineWrap {
	position: relative;
	width: 840px;
	margin:0 auto;
	//border: 1px solid red;
	margin-bottom: 150px
}
.timelinetable {
	width: 100%
}
.timelinetr {
	height: 100px
}
.timelinetr1 {
	width: 168px
}
.timelinetr2 {
	width: 100px
}
.timelinetr3 {
	width: 572px
}
.timelineyuan1{
	background-color: #a47bfe;
	border: 1px solid #a47bfe;
}
.timelineyuan2 {
	background-color: #8b56ff;
	border: 1px solid #8b56ff;
}
.timelineyuan3 {
	background-color: #7d41ff;
	border: 1px solid #7d41ff;
}
.timelineyuan4 {
	background-color: #6120ec;
	border: 1px solid #6120ec;
}
.timelineyuan5 {
	background-color: #4b4bdd;
	border: 1px solid #4b4bdd;
}
.timelineyuan6 {
	background-color: #4b55dd;
	border: 1px solid #4b55dd;
}
.timelineyuan7 {
	background-color: #3f54e4;
	border: 1px solid #3f54e4;
}
.timelineyuan8 {
	background-color: #1a58e3;
	border: 1px solid #1a58e3;
}
.timelineyuan9 {
	background-color: #2361ed;
	border: 1px solid #2361ed;
}
.timelineyuan10 {
	background-color: #2e6ad3;
	border: 1px solid #2e6ad3;
}
.timelineyuan11 {
	background-color: #235dc2;
	border: 1px solid #235dc2;
}
.timelineyuan12 {
	background-color: #144baa;
	border: 1px solid #144baa;
}
.timelineyuan13 {
	background-color: #104299;
	border: 1px solid #104299;
}
.timelineyuan14 {
	background-color: #0f3c8a;
	border: 1px solid #0f3c8a;
}
.timelineyuan15 {
	background-color: #0d3883;
	border: 1px solid #0d3883;
}
.timelineyuan {
    //background-color: #a47bfe;
    width: 60px;
    height: 60px;
    //border: 2px solid #a47bfe;
    border-radius: 32px
}
.timelineborder {
	position: absolute;
    height: 1594px;
    border-left: 2px solid #d2d2d2;
    top: -32px;
    left: 201px;
    z-index: -1000
}

.gongsipart1 {
	width: 840px;
	margin: 0 auto;
	//border:1px solid red;
	height: 353px
}
.gongsipart1per1 {
	width: 22%;
	float: left;
	border: 1px solid #227af7;
	margin-right: 3%;
	text-align: center;
}
.gongsipart1per2 {
	width: 22%;
	float: left;
	border: 1px solid #227af7;
	margin-right: 3%
}
.gongsipart1per3 {
	width: 22%;
	float: left;
	border: 1px solid #227af7;
	margin-right: 3%
}
.gongsipart1per4 {
	margin-right: 8px;
	width: 22%;
	float: right;
	border: 1px solid #227af7;
}
.gongsipart1fontborder {
	width: 100%;
	background-color: #227af7;
	height: 70px;
	margin-top:-5px 
}
.guanliimg {
	width: 100%
}
.gongsipart1fontdaxiao {
	padding-top: 8px;
	font-size: 18px;
	color: white;
	text-align: center;
}
.gongsipart1fontdaxiao11 {
	font-size: 18px;
	color: white;
	text-align: center;
}
.gongsipart2 {
	height: 288px;
	width: 600px;
	margin: 0 auto;
	//border: 1px solid red
}
.gongsipart1per5 {
	float: left;
	width: 30%;
	border: 1px solid #227af7;
	margin-right: 4%
	
}
.gongsipart1per7 {
	float: right;
	width: 30%;
	border: 1px solid #227af7
}
.gongsipart1per6 {
	width: 30%;
	margin: 0 auto;
	border: 1px solid #227af7;
	float: left;
}
.timelinepicnew {
	width: 100%
}


.aboutusheader{
	background-image: url(contactusbg.jpg);
	background-size: cover;
	background-color: #619ff8;
	background-position: center;
}
.contactusfont{
	font-size: 60px;
	color: white;
	text-align: center;
	padding-top: 174px;
	padding-bottom: 48px;
}
.startButtonCon{
	text-align: center;
	color: #a2bffb;
	font-size: 30px;
	width: 240px;
	height: 43px;
	border: 1px solid white;
	margin: 0 auto;
	background-color: white
}
.companyAddress{
	text-align: center;
	font-size: 36px;
	margin-bottom: 60px;
	margin-top: 110px;
}
.mapimg{
	text-align: center;
}
.picmap{
	width: 73%
}
.mapfont{
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #227af7;
	color: white;
	width: 73%;
	margin: 0 auto;
}
.mapfontinfo{
	font-size: 20px;
	padding-left: 15px;
	line-height: 32px
}
.adrressinfoWrap{
	width: 90%;
	margin: 0 auto
}
.chinainfo{
 	height: 300px;
 	padding-left: 10%;
	float: left;
	width: 25%;
	border-right: 1px solid #bfbfbf
}
.englandinfo{
	height: 300px;
	float: left;
	width: 25%;
	padding-left: 3%;
	border-right: 1px solid #bfbfbf;
}
.northAmericainfo{
	float: left;
	padding-left: 3%;
	margin-bottom: 120px;
	
}
.titlename{
	font-size: 24px;
	margin-bottom: 5px
}
.continfo{
	font-size: 16px;
	line-height: 25px
}


.webNav  a {
	color:white;
 	text-decoration:none;
 	font-size: 20px
}

.webNav a:hover {
display:block; 
color:#FFFFFF; 
//background:#227af7;
}

.tialButton{
	text-align: center;
	text-decoration:none;
	color: #a2bffb;
	font-size: 28px;
	width: 240px;
	height: 43px;
	border: 1px solid white;
	margin: 0 auto;
	background-color: white

}



.kehuheader{
	background-image: url(liucunbg.jpg);
	background-size: cover;
	background-position: center;
	background-color: #041559;
}
.kehustartButton{
	text-decoration:none;
	text-align: center;
	color: white;
	font-size: 30px;
	width: 240px;
	height: 43px;
	border: 0.5px solid white;
	margin: 0 auto;
}
.kehumainButton{
	text-decoration:none;
	text-align: center;
	color: white;
	font-size: 30px;
	width: 240px;
	height: 43px;
	margin: 0 auto;
}
.kehufontone{
	text-align: center;
	font-size: 24px;
	margin-top: 90px;	
}
.kehufonttwo{
	text-align: center;
	font-size: 24px;
	line-height: 38px	

}
.kehufontthree{
	text-align: center;
	font-size: 24px;
	line-height: 38px	
}
.kehufontfour{
	text-align: center;
	font-size: 36px;
	margin-top: 90px;
	margin-bottom: 60px
}
.kehufontfive{
	width: 100%;
	text-align: center;
	margin-bottom: 90px
}
.kehuleft{
	width: 100%;
    margin: 0 auto;

}
.kehuright{
	width: 100%;
    margin: 0 auto;
}
.circleimgWrap{
	margin-bottom: 40px
}
.shxianmubiao{
	text-align: center;
	font-size: 26px;
	padding-bottom: 40px
}
.sixianmubiaofontone{
	text-align: center;
	font-size: 16px;
	line-height: 30px
}
.sixianmubiaofontthree{
	text-align: center;
	font-size: 18px;
	line-height: 30px;
	margin-bottom: 60px
}
.one{
	padding-top: 20px
}
.fangwrap{
	width: 80%;
	margin: 0 auto
}
.parafang{
	font-size: 16px;
	text-align: left;
	line-height: 30px
}
.parafangti{
	font-size: 20px;
	line-height: 38px;
	text-align: left
}
.circleimgnew {
	height: 100px
}



.zhijianheader{
	background-image: url(zijianbg.jpg);
	background-size: cover;
	background-position: center;
	background-color: #004dc6;
}
.jiankongtitle{
	text-align: center;
	font-size: 36px;
	margin-bottom: 60px;
	margin-top: 90px

}
.jiankongfont{
	text-align: center;
	font-size: 24px;
	line-height: 36px
}
.jiankongfontlast{
	margin-bottom: 92px;
	text-align: center;
	font-size: 24px;
	line-height: 36px
}
.global{
	background-color: #eaf3ff;
}
.globalfont{
	text-align: center;
	font-size: 36px;
	padding-top: 90px;
	margin-bottom: 60px
}
.globalpartone{
	float: left;
	width: 26%;
	margin-left: 8%
}
.globalparttwo{
	float: left;
	margin-left: 2%;
	width: 26%
}
.globalpartthree{
	float: left;
	margin-left: 2%;
	color: #6a9ef9;
	width: 26%
}
.globalpartonefontone{
	text-align: right;
	color: #6a9ef9;
	margin-bottom: 20px;
	margin-top: 10px;
	font-size: 26px
}
.globalpartonefonttwo{
	text-align: right;
	color: #6a9ef9;
	line-height: 24px;
	font-size: 16px
}
.globalpartonefontthree{
	text-align: right;
	color: #6a9ef9;
	line-height: 24px;
	font-size: 16px
}

.globalparttwofontone{
	font-size: 26px;
	text-align: left;
	margin-bottom: 20px;
	margin-top: 64px
}
.globalparttwofonttwo{
	font-size: 16px;
	text-align: left;
	line-height: 24px;
}
.zhijiankefuimg{
	width: 100%
}
.globalimgwrap{
	padding-bottom: 90px
}
.test{
	width: 80%;
	margin: 0 auto
}
.para{
	text-align: left;
	font-size: 20px;
	margin-bottom: 90px
}



.yingxiaoheader{
	background-image: url(yingxiaobg.jpg);
	background-size: cover;
	background-position: center;
	background-color: #004dc6;
}
.yingxiao_partone{
	width: 100%;
	margin: 0 auto
}
.changjintitle{
	text-align: center;
	font-size: 36px;
	margin-top: 90px;
	margin-bottom: 60px
}
.changjincontent{
	text-align: center;
	font-size: 24px;
	line-height: 40px
}
.changjincontentlast{
	margin-bottom: 90px;
	text-align: center;
	font-size: 24px;
	line-height: 40px
}
.yingxiao_yinxiangli{
	background-color: #eaf3ff;
	width: 100%
}
.yinxiangtitle{
	font-size: 36px;
	text-align: center;
	padding-top: 90px
}
.dyinxiangcontent{
	width: 100%;
}
.dyingxiao_partone{
	margin-top: 60px;
	//float: left;
	width: 100%;
	margin: 0 auto
	//margin-left: 20%
}
.dyingxiao_parttwo{
	margin-top: 60px;
	//float: left;
	width: 100%;
	margin: 0 auto
	//margin-left: 20%
}
.shixianluxian{
	text-align: center;
	font-size: 26px;
	margin-bottom: 50px;
	margin-top: 20px
}
.shi_content{
	text-align: center;
	font-size: 18px;
	line-height: 28px;
	margin-bottom: 3px
}
.shi_contentlast{
	margin-bottom: 90px;
	text-align: center;
	font-size: 18px;
	line-height: 30px;
}
.shixianlogo{
	text-align: center;
	margin-bottom: 60px;
	width: 110px;
	height: 110px;
	border-radius: 65px;
	border: 1px solid #227af7;
	margin: 0 auto;
	background: #227af7

}
.shiwrap{
	width: 80%;
	margin: 0 auto
}
p{
	margin: 0px
}
.shifont{
	line-height: 28px;
	text-align: left;
	font-size: 18px;
	padding-bottom: 90px
}
.changwrap{
	width: 80%;
	margin: 0 auto
}
.changfont{
	text-align: left;
	font-size: 20px;
	line-height: 40px;
	margin-bottom: 90px
}
.shixianluxiannewimg {
	width: 100%
}


.strategyheader{
	background-image: url(strategybg.jpg);
	background-size: cover;
	background-position: center;
	background-color: #004dc6;
}
.str_title{
	font-size: 36px;
	text-align: center;
	margin-bottom: 60px;
	margin-top: 90px
}
.str_content{
	font-size: 24px;
	text-align: center;
	line-height: 40px
}
.str_contentlast{
	font-size: 24px;
	text-align: center;
	line-height: 40px;
	margin-bottom: 92px

}
.str_parttwo{
	background-color: #eaf3ff;
}
.strtwo_title{
	font-size: 36px;
	text-align: center;
	padding-bottom: 60px;
	padding-top: 90px
}
.strtwoimgwrap{
	width: 73%;
	margin: 0 auto
}
.strtwoimgwrapleft{
	float: left;
	width: 40%;
	height: 278px;
	background-image: url(shixianxijie.jpg);
	background-size: cover;
	background-position: center;
	background-color: #0a3b7f

}
.strtwoimgwrapright{
	float: right;
	width: 40%;
	height: 278px;
	background-image: url(shixianluxian.jpg);
	background-size: cover;
	background-position: center;
	background-color: #0a3b7f
}
.strwrap{
	width: 80%;
	margin: 0 auto
}
.strfont{
	text-align: left;
	font-size: 18px;
	line-height: 28px;
	margin-bottom: 90px;
	//color: white
}
.leftborder{
	background-color: #227af7;
	width: 70.5%;
	height: 90px;
	margin-top: -15%;
}
.s_fontOne{
	font-size: 22px;
	margin-left: 24px;
	color: white
}
.s_fonttwo{
	width: 88%;
	margin-left: 24px;
	text-align: left;
	color: white;
	font-size: 14px
}
.S_fwrap{
	width: 80%;
	margin: 0 auto
}
.companyimg{
	width: 100%
}
.newborderstyle{
	width: 73%;
	margin: 0 auto
}
.leftbordernew{
	position: relative;
	padding-top: 2%;
	margin-left: -2%;
	float: left;
	background-color: #227af7;
	width:40%;
	height: 90px;
	margin-bottom: 90px;
	margin-top: -6%;
}
.rightbordernew{
	position: relative;
	padding-top: 2%;
	margin-right: 2%;
	float: right;
	background-color: #227af7;
	width:40%;
	height: 90px;
	margin-bottom: 90px;
	margin-top: -6%;
}
.shixianxijie {
	width: 220px;
	height: 160px;
	margin: 0 auto;
	text-align: center;
	margin-top: 75px;
}


.dataaccessheader{
	background-image: url(dataaccessbg.jpg);
	background-size: cover;
	background-color: #0b3fa7;
	background-position: center;
}
.dataaccess_partone {
	margin-top: 100px;
	margin-bottom: 130px
}
.dataaccess_partonefont {
	text-align: center;
	font-size: 36px
}
.dataaccess_partoneimgwrap {
	position: relative;
	//border: 1px solid red;
	width: 830px;
	margin: 0 auto;
	margin-top: 50px;
	height: 100px
}
.datacaijiimg {
	width: 100%
}
.dataaccess_partonefontone {
	position: absolute;
	top:110px;
	font-size: 22px;
}
.dataaccess_partonefonttwo {
	position: absolute;
	font-size: 22px;
	left: 244px;
	top:110px;
}
.dataaccess_partonefontthree {
	position: absolute;
	font-size: 22px;
	left: 487px;
	top:110px;
}
.dataaccess_partonefontfour {
	position: absolute;
	font-size: 22px;
	right: 0px;
	top:110px;
}
.dataaccess_parttwo {
	background-image: url(dataaccessmodule2bg.jpg);
	background-size: cover;
	background-position: center;
}
.dataaccess_parttwofont {
	padding-top: 100px;
	text-align: center;
	font-size: 36px;
	color: white
}
.dataaccess_parttwofonttwo {
	text-align: center;
	font-size: 24px;
	margin-bottom: 50px;
	color: white
}
.dataaccess_parttwofontWrap {
	width: 830px;
	//border: 1px solid red;
	margin: 0 auto;
	padding-bottom: 100px
}
.dataaccess_parttwofontleftone {
	float: left;
	width: 46%;
	color: white;
	font-size: 20px
}
.dataaccess_parttwofontrighttwo {
	float: right;
	width: 46%;
	color: white;
	font-size: 20px
}
.dataaccess_partthree {
	padding-bottom: 100px;
	
	background-color: #f8fafc
}
.dataaccess_partthreefontone {
	text-align: center;
	padding-top: 100px;
	font-size: 36px
}
.dataaccess_partthreeingwrap {
	width: 840px;
	//border: 1px solid red;
	margin: 0 auto;
	margin-top: 60px
}
.dataaccess_partthreeingpartone {
	float: left;
	width: 30%
}
.dataaccess_parttwoyuanWrap {
	position: relative;
	width: 100px;
	height: 100px;
	background-color: rgba(255,255,255,0.1);
	border-radius: 50px;
	margin: 0 auto;
	margin-bottom: 20px
}
.dataaccess_parttwoyuanfont {
	position: absolute;
	font-size: 40px;
	top:20px;
	left: 29px
}
.dataaccess_partthreeingpartone {
	box-shadow: 0 15px 30px 0 rgba(26,52,45,.1);
	background-color: white;
	height: 400px;
	width:30%;
	float: left;
	//border: 1px solid black;
	margin-right: 5%
}
.dataaccess_partthreeingparttwo {
	box-shadow: 0 15px 30px 0 rgba(26,52,45,.1);
	height: 400px;
	width: 30%;
	float: left;
	//border: 1px solid black;
	background-color: white
}
.dataaccess_partthreeingpartthree {
	background-color: white;
	box-shadow: 0 15px 30px 0 rgba(26,52,45,.1);
	height: 400px;
	width: 30%;
	float: right;
}
.dataaccess_partthreewaiwang {
	margin-top: 20px;
	text-align: center;
	font-size: 24px;
	margin-bottom: 20px
}
.dataaccess_partthreechaoguo {
	font-size: 16px;
	width: 90%;
	margin: 0 auto;
	text-align: left;
}
.dataaccess_partthreewaibg {
	text-align: center;
	margin-top: 60px
}
.dataaccess_partthreewaibg1 {
	width: 120px;
	height: 120px;
	background-color: rgba(236,59,60,0.1);
	text-align: center;
	margin: 0 auto;
	border-radius: 60px;
}
.dataaccess_partthreewaibg2 {
	width: 120px;
	height: 120px;
	background-color: rgba(237,124,21,0.1);
	text-align: center;
	margin: 0 auto;
	border-radius: 60px
}
.dataaccess_partthreewaibg3 {
	width: 120px;
	height: 120px;
	background-color: rgba(250,159,15,0.1);
	text-align: center;
	margin: 0 auto;
	border-radius: 60px
}
.dataaccess_partfourfont {
	text-align: center;
	font-size: 36px;
	margin-top: 100px;
	margin-bottom: 30px
}
.dataaccess_partfourimgwrap {
	height: 440px;
	width: 840px;
	margin: 0 auto;
	//border: 1px solid red
}
.dataaccess_partfourfontwrap {
	padding-bottom: 70px;
	width: 840px;
	margin: 0 auto;
	font-size: 18px;
}
.dataaccess_partfourimgleft {
	float: left;
	width: 36%;
	//border: 1px solid black;
	margin-top: 100px;
	font-size: 24px
}
.dataaccess_partfourimgright {
	position: relative;
	float: right;
	width: 54%;
}
.dataaccess_partfourimgright1 {
	position: absolute;
	top:123px;
	left: 26px
}
.dataaccess_partfourimgright2 {
	position: absolute;
	top:50px;
	left: 127px
}
.dataaccess_partfourimgright3 {
	position: absolute;
	left: 127px;
	top:202px;
}
.dataaccess_partfourimgright4 {
	position: absolute;
	top:80px;
	left: 278px
}
.dataaccess_partfourimgright5 {
	position: absolute;
	top:188px;
	left: 268px
}
.picf {
	width: 70%
}
.pica {
	width: 70%
}
.picjd {
	width: 70%
}
.piccsv {
	width: 70%
}
.pichoodp {
	width: 70%
}

.dataaccess_partoneimgwrappic1 {
	position: absolute;
	float: left;
	width: 100px;
	height: 100px;
	border:1px solid #7a69e5;
	background-color: #7a69e5;
	box-shadow: 0 15px 30px 0 rgba(122,105,119,0.3);
	border-radius: 18px
}
.dataaccess_partoneimgwrappic2 {
	position: absolute;
	width: 100px;
	height: 100px;
	border:1px solid #ee5c5d;
	background-color: #ee5c5d;
	box-shadow: 0 15px 30px 0 rgba(238,92,93,0.3);
	border-radius: 18px;
	left: 237px

}
.dataaccess_partoneimgwrappic3 {
	position: absolute;
	width: 100px;
	height: 100px;
	border:1px solid #44b4f8;
	background-color: #44b4f8;
	box-shadow: 0 15px 30px 0 rgba(68,180,248,0.3);
	border-radius: 18px;
	left: 477px
}
.dataaccess_partoneimgwrappic4 {
	position: absolute;
	right: 0;
	width: 100px;
	height: 100px;
	border:1px solid #68ecda;
	background-color: #68ecda;
	box-shadow: 0 15px 30px 0 rgba(104,236,218,0.3);
	border-radius: 18px;
}
.dataaccess_partoneimgwrappic5 {
	position: absolute;
	left: 105px;
	top:50px;
	//border: 1px solid red;
	height: 4px;
	width: 110px;
	border-radius: 2px;
}
.dataaccess_partoneimgwrappic6 {
	position: absolute;
	left: 350px;
	top:50px;
	//border: 1px solid red;
	height: 4px;
	width: 110px;
	border-radius: 2px;
}
.dataaccess_partoneimgwrappic7 {
	position: absolute;
	left: 592px;
	top:50px;
	//border: 1px solid red;
	height: 4px;
	width: 110px;
	border-radius: 2px;
}
.dataaccess_partoneimgwrappic5duan {
	position: absolute;
	width: 30px;
	height: 4px;
	margin-right: 16px;
	border-radius: 2px;
	background: -webkit-linear-gradient(red, blue); 
    background: -o-linear-gradient(red, blue); 
    background: -moz-linear-gradient(red, blue);
    background: linear-gradient(rgba(122,105,229,1), rgba(139,103,210,1));
}
.dataaccess_partoneimgwrappic5chang {
	position: absolute;
	left: 46px;
	width: 64px;
	height: 4px;
	border-radius: 2px;
	background: -webkit-linear-gradient(red, blue);
    background: -moz-linear-gradient(red, blue); 
    background: linear-gradient(rgba(158,101,187,1), rgba(238,92,93,1)); 
}
.dataaccess_partoneimgwrappic6duan {
	position: absolute;
	width: 30px;
	height: 4px;
	margin-right: 16px;
	border-radius: 2px;
	background: -webkit-linear-gradient(red, blue); 
    background: -o-linear-gradient(red, blue); 
    background: -moz-linear-gradient(red, blue);
    background: linear-gradient(rgba(238,92,93,1), rgba(199,112,128,1));
}
.dataaccess_partoneimgwrappic6chang {
	position: absolute;
	left: 46px;
	width: 64px;
	height: 4px;
	border-radius: 2px;
	background: -webkit-linear-gradient(red, blue);
    background: -moz-linear-gradient(red, blue); 
    background: linear-gradient(rgba(168,128,156,1), rgba(68,180,248,1)); 
}
.dataaccess_partoneimgwrappic7duan {
	position: absolute;
	width: 30px;
	height: 4px;
	margin-right: 16px;
	border-radius: 2px;
	background: -webkit-linear-gradient(red, blue); 
    background: -o-linear-gradient(red, blue); 
    background: -moz-linear-gradient(red, blue);
    background: linear-gradient(rgba(68,180,248,1), rgba(85,206,234,1));
}
.dataaccess_partoneimgwrappic7chang {
	position: absolute;
	left: 46px;
	width: 64px;
	height: 4px;
	border-radius: 2px;
	background: -webkit-linear-gradient(red, blue);
    background: -moz-linear-gradient(red, blue); 
    background: linear-gradient(rgba(92,217,228,1), rgba(104,236,218,1)); 
}
.waiwangnewpic {
	height: 120px
}
.shujujieruimg {
	height: 100px
}


.zengqiangheader{
	background-image: url(rengongbgnew.jpg);
	background-size: cover;
	background-color: #10309a;
	background-position: center;
}
.zengqiangfont {
	text-align: center;
	font-size: 36px;
	margin-top: 100px
}
.zengqiangimgwrap {
	width: 840px;
	margin: 0 auto;
	//border: 1px solid red;
	position: relative;
	height: 755px;
	margin-top: 100px;
	margin-bottom: 100px
}
.zengqiangimg1 {
	position: absolute;
	height: 300px;
	box-shadow: 0 15px 30px 0 rgba(26,52,45,.1);
	width: 250px;
}
.zengqiangimg2 {
	position: absolute;
	height: 300px;
	box-shadow: 0 15px 30px 0 rgba(26,52,45,.1);
	width: 250px;
	right: 0
}
.zengqiangimg3 {
	position: absolute;
	height: 300px;
	box-shadow: 0 15px 30px 0 rgba(26,52,45,.1);
	width: 250px;
	bottom: 0
}
.zengqiangimg4 {
	position: absolute;
	height: 300px;
	box-shadow: 0 15px 30px 0 rgba(26,52,45,.1);
	width: 250px;
	bottom: 0;
	right: 0
}
.zengqiangimg5 {
	position: absolute;
	height: 300px;
	box-shadow: 0 15px 30px 0 rgba(26,52,45,.1);
	width: 250px;
	left: 300px;
	top:200px;
}
.zengqiangimgdiv {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px
}
.zengqiangimgfontjiao {
	text-align: center;
	font-size: 24px;
	margin-bottom: 20px
}
.zengqiangimgfontshen {
	text-align: center;
	font-size: 16px;
	width: 200px;
	margin: 0 auto
}
.zengqiangpart2 {
	background-image: url(rengongbg.jpg);
	background-size: cover;
	background-color: #10309a;
	background-position: center;

}
.zengqiangpart2font {
	text-align: center;
	font-size: 36px;
	color: white;
	padding-top: 100px;
	padding-bottom: 60px
}
.zengqiangpart2imgwrap {
	position: relative;
	width: 850px;
	margin: 0 auto;
	//border: 1px solid red;
	padding-bottom: 100px
}
.zengqiangpart2imgwrap1 {
	float: left;
	width: 26%;
	//border: 1px solid black;
	margin-right: 10%
}
.zengqiangpart2imgwrap2 {
	float: left;
	width: 26%;
	//border: 1px solid black
}
.zengqiangpart2imgwrap3 {
	float: right;
	width: 26%;
	//border: 1px solid black
}
.zengqiangpart2touimg {
	text-align: center;
	margin-bottom: 20px
}
.zengqiangpart2toufont {
	text-align: center;
	font-size: 22px;
	color: white
}
.zengqiangpart3font1 {
	text-align: center;
	font-size: 36px;
	margin-top: 100px;
	padding-bottom: 60px
}
.zengqiangpart3fontwrap {
	width: 60%;
	float: left;
	margin-top: 100px;
	padding-bottom: 100px;
	text-align: left;
	margin: 0 auto;
}
.zengqiangpart3fontwrap2 {
	position: relative;
	width: 39%;
	float: right;
	margin-top: 60px;
	padding-bottom: 100px;
	//border: 1px solid black;
	height: 200px

}
.zengqiangpart3fontrest {
	font-size: 22px;
	margin-bottom: 15px;
	color: #000000
}
.zengqiangpart3qiangdawrap {
	width: 840px;
	margin: 0 auto;
	//border: 1px solid red
}
.teimg {
	width: 90%
}
.zengqiangpart3fontwrap2te1 {
	position: absolute;
	top:50px;
}
.zengqiangpart3fontwrap2te2 {
	position: absolute;
	right: -10px
}
.zengqiangpart3fontwrap2te3 {
	position: absolute;
	top:5px;
	left: 107px
}
.zengqiangpart3fontwrap2te8 {
	position: absolute;
    top: 109px;
    left: 260px;
}
.zengqiangpart3fontwrap2te5 {
	position: absolute;
    top: 155px;
    left: 145px;
}
.zengqiangpart3fontwrap2te6 {
	position: absolute;
    top: 163px;
    left: 41px;
}
.zengqiangpart3fontwrap2te7 {
	position: absolute;
    top: 239px;
    left: 133px;
}
.zengqiangpart3fontwrap2te9 {
	position: absolute;
    top: 197px;
    right: -20px;
}
.zengqiangpart2touimg1 {
	width: 120px;
	height: 120px;
	border-radius: 60px;
	margin: 0 auto;
	background-color: rgba(255,255,255,0.1);
}
.jinhaopic {
	height: 90px
}
.touimg {
	width: 100%
}


.keshihuaheader{
	background-image: url(keshihuabg.jpg);
	background-size: cover;
	background-color: #10309a;
	background-position: center;
	height: 1000px;
	//border: 1px solid red
}
.keshihua_partonefont1 {
	text-align: center;
	font-size: 36px;
	margin-top: 100px;
	margin-bottom: 60px
}
.keshihua_partoneimgWrap {
	width: 840px;
	margin: 0 auto;
	//border: 1px solid red;
	height: 167px;
	margin-bottom: 100px
}
.keshihua_partoneimgWrap1 {
	width: 16%;
	float: left;
	//border: 1px solid black;
	font-size: 22px;
	text-align: center;
	margin-right:5%;
}
.keshihua_partoneimgWrap5 {
	width: 16%;
	float: right;
	//border: 1px solid black;
	font-size: 22px;
	text-align: center;
}
.keshihua_parttwo {
	background-color: #f8fafc;
}
.keshihua_parttwofont1 {
	text-align: center;
	font-size: 36px;
	padding-top: 100px
}
.keshihua_parttwoimgwrap {
	width: 840px;
	margin: 0 auto;
	//border: 1px solid red;
	height: 350px;
	margin-top: 80px;
	padding-bottom: 100px
}
.keshihua_parttwoimgwrap1 {
	width: 30%;
	float: left;
	box-shadow: 0 15px 30px 0 rgba(26,52,45,.1);
	margin-right: 5%;
	background-color: white;
	height: 350px
}
.keshihua_parttwoimgwrap2 {
	width: 30%;
	float: left;
	box-shadow: 0 15px 30px 0 rgba(26,52,45,.1);
	background-color: white;
	height: 350px
}
.keshihua_parttwoimgwrap3 {
	width: 30%;
	float: right;
	box-shadow: 0 15px 30px 0 rgba(26,52,45,.1);
	background-color: white;
	height: 350px
}
.keshihua_parttwoimgwrap1font {
	width: 90%;
	margin: 0 auto;
	text-align: left;
	font-size: 22px
}
.keshihua_parttwoimgwrap1ling {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 40px
}
.keshihua_parythreefont {
	text-align: center;
	font-size: 36px;
	margin-top: 100px;
	margin-bottom: 80px
}
.keshihua_parythreeimgwrap {
	width: 840px;
	margin: 0 auto;
	//border: 1px solid red;
	height: 300px;
	margin-bottom: 60px
}
.keshihua_parythreeimgwrap1 {
	width: 30%;
	float: left;
	margin: 0 auto;
	//border: 1px solid black;
	margin-right: 5%;
	height: 300px;
}
.keshihua_parythreeimgwrap2 {
	width: 30%;
	float: left;
	margin: 0 auto;
	//border: 1px solid black;
	height: 300px;
}
.keshihua_parythreeimgwrap3 {
	width: 30%;
	float: right;
	margin: 0 auto;
	//border: 1px solid black;
	height: 300px;
}
.keshihua_parythreeimgwrap1jiandan {
	width: 90%;
	margin: 0 auto;
	font-size: 22px;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px
}
.keshihua_parythreeimgwrap1caiyong {
	width: 90%;
	margin: 0 auto;
	font-size: 16px;
	text-align: left;
}
.keshihua_parythreeimgwrap1dongcha {
	text-align: center;
}
.keshihua_parythreeimgwrapanother {
	width: 600px;
	margin: 0 auto;
	//border: 1px solid red;
	padding-bottom: 100px
}
.keshihua_parythreeimgwrapanother1 {
	width: 227px;
	margin: 0 auto;
	float: left;
	//border: 1px solid black;
	margin-right: 43px
}
.keshihua_parythreeimgwrapanother2 {
	width: 227px;
	margin: 0 auto;
	float: right;
	//border: 1px solid black
}
.keshihua_partoneimgWrapimg1 {
	width: 90px;
	height: 90px;
	margin: 0 auto;
	background-color:#06b4fd;
	box-shadow: 0 15px 30px 0 rgba(6,180,253,0.3);
	margin-bottom: 20px;
	border-radius: 14px
}
.keshihua_partoneimgWrapimg2 {
	width: 90px;
	height: 90px;
	margin: 0 auto;
	background-color:#00e9d4;
	box-shadow: 0 15px 30px 0 rgba(0,233,212,0.3);
	margin-bottom: 20px;
	border-radius: 14px
}
.keshihua_partoneimgWrapimg3 {
	width: 90px;
	height: 90px;
	margin: 0 auto;
	background-color:#77cd44;
	box-shadow: 0 15px 30px 0 rgba(119,205,68,0.3);
	margin-bottom: 20px;
	border-radius: 14px
}
.keshihua_partoneimgWrapimg4 {
	width: 90px;
	height: 90px;
	margin: 0 auto;
	background-color:#7969e6;
	box-shadow: 0 15px 30px 0 rgba(121,105,230,0.3);
	margin-bottom: 20px;
	border-radius: 14px
}
.keshihua_partoneimgWrapimg5 {
	width: 90px;
	height: 90px;
	margin: 0 auto;
	background-color:#e68127;
	box-shadow: 0 15px 30px 0 rgba(230,129,39,0.3);
	margin-bottom: 20px;
	border-radius: 14px
}
.keshihua_parythreeimgwrap1dongchaimgteshu {
	width: 120px;
	height: 120px;
	margin: 0 auto;
	border-radius: 60px

}
.keshihua_parythreeimgwrap1dongchaimg1 {
	background-color: rgba(249,93,94,0.1); 
}
.keshihua_parythreeimgwrap1dongchaimg2 {
	background-color: rgba(63,135,255,0.1); 
}
.keshihua_parythreeimgwrap1dongchaimg3 {
	background-color: rgba(127,104,255,0.1);
}
.keshihua_parythreeimgwrap1dongchaimg4 {
	background-color: rgba(255,146,68,0.1);
}
.keshihua_parythreeimgwrap1dongchaimg5 {
	background-color: rgba(0,212,148,0.1);
}
.zhinengbaobiaoimg {
	height: 90px
}
.qiangdaduoweiduimg {
	height: 90px
}
.jiandanpic {
	width: 100%
}
.companyimgindex {
	height: 37px
}
.linkyouxiang {
	color: rgba(255,255,255,0.5);
	text-decoration: none;
}
.linkyouxiang:hover {
	color: rgba(255,255,255,0.5);
	text-decoration: underline;
}



